


<div style="width: fit-content;display: flex;flex-direction: column;margin-left: 25px;">

    <div class="items" *ngIf="ShowStateVertical && StateVerticalAlignment == 0">

        <rstate-vertical style="font-size: small;display: flex;
                                width: fit-content;
                                margin-right: 0px;
                                margin-bottom: 5px;" 
            
            [ApplyItemForeColorToStepNo]="ApplyItemForeColorToStepNo"                                    
            [SelectedActiveIndex]="verticalItemActiveItem" 
            [CompletedBackgroundColor]="VerticalItemCompletedBackColor"
            [CompletedForeColor]="VerticalItemCompletedForeColor"
            [ActiveBackgroundColor]="VerticalItemActiveBackColor"
            [ActiveForeColor]="VerticalItemActiveForeColor"
            [PendingBackgroundColor]="VerticalItemPendingBackColor"
            [PendingForeColor]="VerticalItemPendingForeColor"

            [StepNoForeColor]="VerticalItemStepNoForeColor" 
            [StripLineColor]="VerticalItemStripLineColor"
            [Items]="seqItems">
        </rstate-vertical>

        <div style="display: flex; flex-direction: row;margin-top: 25px;" *ngIf="IsLastStepFinished">

            <div class="done">
                <rbutton (ButtonClick)="CompletedClick($event)" 
                    [ForeColor]="CompletedButtonForeColor" 
                    [BackgroundColor]="CompletedButtonBackColor">
                    Completed
                </rbutton>
            </div>

            <rbutton style="margin-left: 10px; margin-top:5px; cursor: pointer;" 
                    [BackgroundColor] = "BackButtonBackColor"
                    [ForeColor] = "BackButtonForeColor"
                    (ButtonClick)="PrevStep()">
                    Back
            </rbutton>

        </div>

    </div>

    <div style="width: fit-content;display: flex;flex-direction: row;">

        <div class="items" *ngIf="(!ShowStateVertical && IsCompleted) || (ShowStateVertical && StateVerticalAlignment == 1)">

            <rstate-vertical style="font-size: small;" [SelectedActiveIndex]="verticalItemActiveItem" 
                
                [ApplyItemForeColorToStepNo]="ApplyItemForeColorToStepNo"  
                [CompletedBackgroundColor]="VerticalItemCompletedBackColor"
                [CompletedForeColor]="VerticalItemCompletedForeColor"
                [ActiveBackgroundColor]="VerticalItemActiveBackColor"                
                [ActiveForeColor]="VerticalItemActiveForeColor"
                [PendingBackgroundColor]="VerticalItemPendingBackColor"
                [PendingForeColor]="VerticalItemPendingForeColor"

                [StepNoForeColor]="VerticalItemStepNoForeColor" 
                [StripLineColor]="VerticalItemStripLineColor"
                [Items]="seqItems">
            </rstate-vertical>
    
            <div style="display: flex; flex-direction: row;margin-top: 25px;" *ngIf="IsLastStepFinished">
    
                <div class="done">
                    <rbutton (ButtonClick)="CompletedClick($event)" 
                        [ForeColor]="CompletedButtonForeColor" 
                        [BackgroundColor]="CompletedButtonBackColor">
                        Completed
                    </rbutton>
                </div>
    
                <rbutton style="margin-left: 10px; margin-top:5px; cursor: pointer;" 
                        [BackgroundColor] = "BackButtonBackColor"
                        [ForeColor] = "BackButtonForeColor"
                        (ButtonClick)="PrevStep()">
                        Back
                </rbutton>
    
            </div>
    
        </div>

        <div *ngIf="!IsLastStepFinished" [ngStyle]="{'height': ContentHeight+'px'}">

            <div style="background-color: white;" class="bar"></div>

            <div class="circle fcircle" *ngIf="fStep && (StateVerticalAlignment == 1 || !ShowStateVertical)">{{fStep}}</div>
            <div class="circle scircle" *ngIf="sStep && (StateVerticalAlignment == 1 || !ShowStateVertical)">{{sStep}}</div> 

            <div class="circle activecircle" *ngIf="CurrentViewStep">{{CurrentViewStep.StepNo}}</div>
            <div class="circle focircle" *ngIf="foStep">{{foStep}}</div>
            <div class="circle ficircle" *ngIf="fiStep">{{fiStep}}</div>

        </div>

        <div *ngIf="!IsLastStepFinished" class="contentContainer"
            [ngClass]="{ 'box': EnableShadow }" 
            [ngStyle]="{ 'background-color': 'white', 'height': ContentHeight+'px', 'width': ContentWidth+'px'}">

            <ng-container *ngIf="CurrentViewStep">
                
                <div *ngIf="!IsLastStepFinished" class="stepHeader">
                    <label [ngStyle]="{ 'color': CurrentViewStep.IsStepValid ? 
                                            CurrentStepValidLabelColor : CurrentStepInValidLabelColor}">
                        {{CurrentViewStep.Title}}
                    </label>
                </div>

                <div *ngIf="!IsLastStepFinished" style="padding:10px"
                    [ngStyle]="{'height': (ContentHeight - 148)+'px' }">                                        
                    <ng-container #view *ngTemplateOutlet="CurrentViewStep.Content">

                    </ng-container>
                </div>

                <div class="stepFooter">
                    <div style="float: right;">

                        <rbutton *ngIf="!(CurrentViewStep.StepNo==1)" 
                            [ForeColor]="BackButtonForeColor" 
                            [BackgroundColor]="BackButtonBackColor"                           
                            style="margin-right: 10px;cursor: pointer;"
                            (ButtonClick)="PrevStep()">Back</rbutton>

                        <rbutton [IsDisabled]="!CurrentViewStep.IsStepValid" *ngIf="!IsLastStep()"
                            [ForeColor]="NextButtonForeColor" 
                            [BackgroundColor]="NextButtonBackColor"
                            style="cursor: pointer;" (ButtonClick)="NextStep()">Next</rbutton>

                        <rbutton (ButtonClick)="Done($event)" [IsDisabled]="!CurrentViewStep.IsStepValid"
                            [ForeColor]="DoneButtonForeColor" 
                            [BackgroundColor]="DoneButtonBackColor"
                            *ngIf="IsLastStep() && !IsLastStepFinished" style="cursor: pointer;">Done</rbutton>

                    </div>
                </div>

            </ng-container>
        </div>
    </div>
</div>