


<div [id]="Id" style="width: fit-content;display: flex;flex-direction: column; margin-left:25px">
    
    <div style="width: fit-content;display: flex;flex-direction: row;">

        <div class="items" *ngIf="(ShowStateVertical && StateVerticalAlignment == 1)">

            <rstate-vertical style="font-size: small;" [SelectedActiveIndex]="verticalItemActiveItem" 
                
                [ApplyItemForeColorToStepNo]="ApplyItemForeColorToStepNo"  
                [CompletedBackgroundColor]="CompletedBackColor"
                [CompletedForeColor]="CompletedForeColor"
                [ActiveBackgroundColor]="ActiveBackColor"                
                [ActiveForeColor]="ActiveForeColor"
                [PendingBackgroundColor]="PendingBackColor"
                [PendingForeColor]="PendingForeColor"

                [StepNoForeColor]="StepNoForeColor" 
                [StripLineColor]="StripLineColor"
                [Items]="seqItems">
            </rstate-vertical>
            
        </div>

        <div [ngStyle]="{'height': ContentHeight+'px'}" style="display: flex; flex-direction: row;">

            <div [ngStyle]="{'height': ContentHeight+'px', 'background-color': StripLineColor }" class="bar"></div>
            
            <div [ngStyle]="{'height': (ContentHeight + 4) +'px'}" class="nos">
            
                <div *ngFor="let no of StepsNos">
    
                    <div class="circle" [ngStyle]="{
                        '--activebackcolor': ActiveBackColor,
                        '--bshadow': (IsLastStepFinished ?  CompletedBorderColor : ActiveBorderColor) + ' 0px 2px 10px',
                        '--pbshadow': ((CurrentViewStep && no > CurrentViewStep.StepNo) ? PendingBorderColor : CompletedBorderColor) + ' 0px 2px 10px',
                        '--border': IsLastStepFinished ? CompletedBorderColor : ActiveBorderColor,
                        '--pborder': (CurrentViewStep && no > CurrentViewStep.StepNo) ? PendingBorderColor : CompletedBorderColor, 
                        
                        'background-color': (CurrentViewStep && no > CurrentViewStep.StepNo) ? 
                                        PendingBackColor : 
                                            CurrentViewStep?.StepNo == no ? 
                                                IsLastStepFinished ? CompletedBackColor : ActiveBackColor  
                                                : CompletedBackColor,
                        'color': (CurrentViewStep && no > CurrentViewStep.StepNo) ? 
                                        PendingForeColor : 
                                            CurrentViewStep?.StepNo == no ? 
                                                IsLastStepFinished ? CompletedForeColor : ActiveForeColor  
                                                : CompletedForeColor
                        }" 
                        
                        [ngClass]="{ 'ffcircle': CurrentViewStep?.StepNo != no , 
                                'factivecircle': CurrentViewStep?.StepNo == no}">
                        {{no}}
                    </div>
                </div>
                
            </div>
                    
        </div>

        <div class="tabcontent"
            [ngClass]="{ 'box': EnableShadow }" 
            [ngStyle]="{ 'background-color': 'white', 'height': ContentHeight+'px', 'width': ContentWidth+'px'}">

            <ng-container *ngIf="CurrentViewStep">
                
                <div class="stepHeader">
                    <label [ngStyle]="{ 'color': CurrentViewStep.IsStepValid ? 
                                            CurrentStepValidLabelColor : CurrentStepInValidLabelColor}">
                        {{CurrentViewStep.Title}}
                    </label>
                </div>

                <div style="padding:10px; overflow: auto;"
                    [ngStyle]="{'height': (ContentHeight - 148)+'px' }">                                        
                    <ng-container #view *ngTemplateOutlet="CurrentViewStep.Content">

                    </ng-container>
                </div>

                <div class="stepFooter">
                    <div style="float: right;">

                        <rbutton *ngIf="!(CurrentViewStep.StepNo==1) && !IsLastStepFinished" 
                            [ForeColor]="BackButtonForeColor" 
                            [BackgroundColor]="BackButtonBackColor"                           
                            style="margin-right: 10px;cursor: pointer;"
                            (ButtonClick)="PrevStep()">Back</rbutton>

                        <rbutton [IsDisabled]="!CurrentViewStep.IsStepValid" *ngIf="!IsLastStep()"
                            [ForeColor]="NextButtonForeColor" 
                            [BackgroundColor]="NextButtonBackColor"
                            style="cursor: pointer;" (ButtonClick)="NextStep()">Next</rbutton>

                        <rbutton (ButtonClick)="Done($event)" [IsDisabled]="!CurrentViewStep.IsStepValid"
                            [ForeColor]="DoneButtonForeColor" 
                            [BackgroundColor]="DoneButtonBackColor"
                            *ngIf="IsLastStep() && !IsLastStepFinished" style="cursor: pointer;">Done</rbutton>

                        
                            
                        <rbutton *ngIf="IsLastStepFinished" (ButtonClick)="PrevStep()" 
                            [ForeColor]="BackButtonForeColor" 
                            [BackgroundColor]="BackButtonBackColor">
                            Back
                        </rbutton>


                        <rbutton *ngIf="IsLastStepFinished" style="margin-left: 10px; margin-top:5px; cursor: pointer;" 
                                [BackgroundColor] = "CompletedButtonBackColor"
                                [ForeColor] = "CompletedButtonForeColor"
                                (ButtonClick)="CompletedClick($event)">
                                Completed
                        </rbutton>                                            

                    </div>
                </div>

            </ng-container>
        </div>
    </div>

</div>