.progressbar_infinite {
    /* width: 50px;
    height:50px; */
    border: 10px solid red;
    border-radius: 50%;
    /* border-color: rgba(27, 81, 199, 0.692) rgb(214, 214, 219) rgb(214, 214, 219) rgb(214, 214, 219);     */
    animation: progress 3s linear infinite;
    background: transparent;
    z-index: 999999999;
}

.progress_container{
    position: absolute;
    top:30%;
    left: 45%;
}

.progress_flat_container{
    position: absolute;
    top:30%;
    left: 30%;
}

@keyframes progress {
 100% {
    transform: rotate(360deg);
    }
}

.progress_flattrack{
    width: 100%;
    height: 12px;
    /* border: 1px solid lightgrey;     */
    border: 1px solid #a6abaa;
    padding: 1px;
    z-index: 999999999;
}


.progress_flattrack_finite {
  width: 88%;
  display: table-cell;
  /* height: 12px; */
  /* border: 1px solid lightgrey;     */
  border: 1px solid #a6abaa;
  padding: 1px;
  z-index: 999999999;
}

.progress_flatitem {
    width: 20%;
    height: 100%;
    background-color: rgba(27, 81, 199, 0.692);
    position: relative;
    /* top:0.5%;
    bottom: 0.5%; */
    animation: moveleft 2s linear infinite;
}

@keyframes moveleft {
    50%{ transform: translateX(400%);}
    100% { transform: translateX(0%);}
}


.progressbar_backdrop {
    position: absolute;
    top: 0px;
    left: 0px;
    background: gray;
    width: 100%;
    height: 100%;
    opacity: 0.4
}

.progress_flatitem_Progress {
    height: 100%;
    background-color: rgba(27, 81, 199, 0.692);
    position: relative;
    width: 0%;
}

.hide {
    display: none;
}

.disperc {
    display: table-cell;
    vertical-align: middle;
     width: 12%;
    left: -49%;
    position: relative;
    color: whitesmoke;
    font-size: small;
}

.outercircle {
  border: 1px solid lightgray;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  /* display: table; */
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
  padding-bottom: 1px;
}

.middlecircle {
  border: 1px solid white;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(45deg, transparent 50%, white 50%);
  transform: rotate(180deg);
}

.innercircle {
  border: 1px solid lightgray;
  border-radius: 50%;
  height: 80%;
  width: 80%;
  /* display: table-cell; */
  vertical-align: middle;
  background-color: white;
  padding-top: 1px;
  padding-bottom: 1px;
}
