<div [ngClass]="{'progressbar_backdrop': EnableBackDrop }">
</div>

    <div *ngIf="Type===allProgressBarTypes.Infinite && DisplayType === allDisplayTypes.Circle"
        [ngClass]="{ 'progress_container': FloatInCenter }">
        <div class="progressbar_infinite"
         [ngStyle]="{'borderWidth': CircularLineWidth, 'borderColor': CircleColor,
                      'width': InfiniteWidth, 'height': InfiniteWidth} ">

        </div>
    </div>

    <div *ngIf="Type===allProgressBarTypes.Infinite && DisplayType === allDisplayTypes.StraightLine"
        [ngClass]="{ 'progress_flat_container': FloatInCenter }"
        [style.left.px]="LeftPosition"
        [ngStyle]="{ 'width': ProgressBarWidth}">
        <div class="progress_flattrack" [ngStyle]="{ 'backgroundColor': TrackColor, 'height': StraightLineTrackHeight }">
            <div [ngStyle]="{'backgroundColor': ForeColor }" class="progress_flatitem">

            </div>
        </div>
    </div>


    <div style="place-items: center; place-content: center;text-align: right;" [ngClass]="{ 'progress_flat_container': FloatInCenter,
          'hide': !(Type===allProgressBarTypes.Progress && DisplayType === allDisplayTypes.StraightLine) }"
        [style.left.px]="LeftPosition"
        [ngStyle]="{ 'width': ProgressBarWidth, 'display': DisplayType == allDisplayTypes.StraightLine && Type==allProgressBarTypes.Progress ? 'block' : 'none'}">

        <div class="progress_flattrack_finite" [ngStyle]="{ 'backgroundColor': TrackColor, 'height': StraightLineTrackHeight, 'width': ProgressBarWidth }">
            <div #flatitemProgress [ngStyle]="{'backgroundColor': ForeColor }" class="progress_flatitem_Progress">

            </div>
        </div>

        <span class="disperc" [style.color]="ForeColor">{{Percentage}}%</span>
    </div>



    <div *ngIf="Type===allProgressBarTypes.Progress && DisplayType === allDisplayTypes.Circle"
        [ngClass]="{ 'progress_container': FloatInCenter }">
        <canvas style="position: absolute;" #procan width="{{ProgressBarWidth.split('px')[0]}}" height="{{ProgressBarWidth.split('px')[0]}}" class="canvasCenter">

        </canvas>

        <canvas #textcan width="{{ProgressBarWidth.split('px')[0]}}" height="{{ProgressBarWidth.split('px')[0]}}">

        </canvas>
    </div>
