.sbox{
    position: relative;
}

.sbox > div {
    position: absolute;
    top: 0px;
    left: 0px;    
}

.box {
    /* width: 200px; */
    /* height: 6px; */
    background-color: whitesmoke;
    border-radius: 5%;
    border: 1px solid lightgray;
    /* position: relative; */
    top: 15px;    
    cursor: pointer;
}

.cbox {
    /* width: 200px; */
    /* height: 6px; */
    background-color: whitesmoke;
    border-radius: 5%;
    border: 1px solid lightgray;
    /* position: relative; */
    top: 7px;  
    cursor: pointer;  
}

.sbox {
    
}

.slider {
    /* width: 20px;
    height: 20px; */
    border-radius: 50%;
    /* background-color: blue; */
    display: block;      
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;   
    /* position: relative; */
    /* top: -7px;  */
    cursor: pointer;
}

:host {
    display: inline-block;
    width: fit-content;
    margin-top: 8px; 
    margin-bottom: 15px;  
vertical-align: top;
}

.displayValue {
    position: relative;
    top: 11px;
    margin-left: 10px;
    margin-right: 10px;
}

::-webkit-scrollbar {
    width: 0.4em;;
    height: 0.4em;;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #bdbbbb;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #5e5e5e;
    border-radius: 10px;
  } 
