<div [id]="Id" style="display: flex;">
    <div class="sbox">
        <div class="box" (click)="clickOnBar($event)" [ngStyle]="{'width':SliderWidth+'px'}"></div>
        <div class="cbox"  (click)="clickOnBar($event)"
            [ngStyle]="{'background-color': EnablePathColor ? BackgroundColor : 'transparent', 'width':currentDistance+'px'}"></div>
        <div #slider class="slider" [ngStyle]="{'background-color': BackgroundColor}" cdkDragLockAxis="x" cdkDrag
            cdkDragBoundary=".sbox" (cdkDragMoved)="dragMove($event)" (cdkDragStarted)="dragStarted($event)"            
            (cdkDragReleased)="dragEnded($event)">
        </div>
    </div>
    <div *ngIf="IsDisplayValue" class="displayValue">{{RangeValue}}</div>
</div>