<div style="display: flex;cursor: pointer;align-items: center;" [id]="Id"  (click)="check($event)">
    <div *ngIf="!DisplayTextRightAlign" class="label" [ngStyle]="{ 'color': LabelColor}">
        {{DisplayText}}
    </div>
    <div class="checkroot">
        <span [ngStyle]="{ '--color' : CheckedColor }" [ngClass]="{'check': IsChecked}">

        </span>
    </div>

    <div *ngIf="DisplayTextRightAlign" class="label" [ngStyle]="{ 'color': LabelColor}">
        {{DisplayText}}
    </div>
</div>