<div style="width: fit-content;display: flex;flex-direction: column;"
    [ngStyle]="{ 'width': ContentWidth + 'px'}">

    <div class="items" *ngIf="ShowStateHorizontal">

        <rstate-horizontal style="font-size: small;" [SelectedActiveIndex]="verticalItemActiveItem"             
            [ApplyItemForeColorToStepNo]="false"              
            [CompletedForeColor]="RStateItemCompletedColor"                           
            [ActiveForeColor]="RStateItemActiveColor"            
            [PendingForeColor]="RStateItemPendingColor"            
            [StripLineColor]="HorizontalItemStripLineColor"            
            [Items]="seqItems">
        </rstate-horizontal>
        
    </div>

    <div class="barContainer">
        <div class="rowBar" [ngStyle]="{ 'width' : ContentWidth + 'px'}">

            <div [ngStyle]="{ 'width' : ContentWidth + 'px', 'background-color': HorizontalItemStripLineColor}" 
                    style="background-color: white;" class="bar"></div>            

        </div>
        <div class="nos">
            
            <div *ngFor="let no of StepsNos">

                <div class="circle" [ngStyle]="{
                    'background-color': (CurrentViewStep && no > CurrentViewStep.StepNo) ? 
                                    HorizontalItemPendingBackColor : 
                                        CurrentViewStep?.StepNo == no ? 
                                            IsLastStepFinished ? HorizontalItemCompletedBackColor : HorizontalItemActiveBackColor  
                                            : HorizontalItemCompletedBackColor,
                    'color': (CurrentViewStep && no > CurrentViewStep.StepNo) ? 
                                    HorizontalItemPendingForeColor : 
                                        CurrentViewStep?.StepNo == no ? 
                                            IsLastStepFinished ? HorizontalItemCompletedForeColor : HorizontalItemActiveForeColor  
                                            : HorizontalItemCompletedForeColor
                    }" 
                    
                    [ngClass]="{ 'fcircle': CurrentViewStep?.StepNo != no , 
                            'activecircle': CurrentViewStep?.StepNo == no}">
                    {{no}}
                </div>
            </div>
            
        </div>

    </div>

    <div class="contentContainer" [ngClass]="{ 'box': EnableShadow }"
        [ngStyle]="{ 'background-color': 'white', 'height': ContentHeight+'px', 'width': ContentWidth+'px'}">

        <ng-container *ngIf="CurrentViewStep">

            <div class="stepHeader">
                <label [ngStyle]="{ 'color': CurrentViewStep.IsStepValid ? 
                                    CurrentStepValidLabelColor : CurrentStepInValidLabelColor}">
                    {{CurrentViewStep.Title}}
                </label>
            </div>

            <div style="padding:10px; overflow: auto;" [ngStyle]="{'height': (ContentHeight - 148)+'px' }">
                <ng-container #view *ngTemplateOutlet="CurrentViewStep.Content">

                </ng-container>
            </div>

            <div class="stepFooter">
                <div style="float: right;">

                    <rbutton *ngIf="!(CurrentViewStep.StepNo==1) && !IsLastStepFinished" [ForeColor]="BackButtonForeColor"
                        [BackgroundColor]="BackButtonBackColor" style="margin-right: 10px;cursor: pointer;"
                        (ButtonClick)="PrevStep()">Back</rbutton>

                    <rbutton [IsDisabled]="!CurrentViewStep.IsStepValid" 
                        *ngIf="!IsLastStep() && !IsLastStepFinished"
                        [ForeColor]="NextButtonForeColor" [BackgroundColor]="NextButtonBackColor"
                        style="cursor: pointer;" (ButtonClick)="NextStep()">Next</rbutton>

                    <rbutton (ButtonClick)="Done($event)" [IsDisabled]="!CurrentViewStep.IsStepValid"
                        [ForeColor]="DoneButtonForeColor" [BackgroundColor]="DoneButtonBackColor"
                        *ngIf="IsLastStep() && !IsLastStepFinished" 
                        style="cursor: pointer;">Done</rbutton>
                            
                    <rbutton *ngIf="IsLastStepFinished" (ButtonClick)="PrevStep()" [ForeColor]="BackButtonForeColor"
                        [BackgroundColor]="BackButtonBackColor">
                        Back
                    </rbutton>
                
                    <rbutton *ngIf="IsLastStepFinished" style="margin-left: 10px; margin-top:5px; cursor: pointer;" [BackgroundColor]="CompletedButtonBackColor"
                        [ForeColor]="CompletedButtonForeColor" (ButtonClick)="CompletedClick($event)">
                        Completed
                    </rbutton>

                </div>
            </div>

        </ng-container>
    </div>
    
</div>