
<div>
    <rsequence-vertical *ngFor="let item of Items" [Item]="item"
     [ActiveBackgroundColor]="ActiveBackgroundColor"
     [ActiveForeColor]="ActiveForeColor"
     [CompletedBackgroundColor]="CompletedBackgroundColor"
     [CompletedForeColor]="CompletedForeColor"
     [PendingBackgroundColor]="PendingBackgroundColor"
     [PendingForeColor]="PendingForeColor"
     [EnableEmptyItemOnLeftSide]="!_allItemsAreInRight"
     [StripLineColor]="StripLineColor"
     [StepNo]="item.StepNo"
     [IsDisplayStepNo]="IsDisplayStepNo"
     [StepNoForeColor]="ApplyItemForeColorToStepNo ? item.IsCompleted ? CompletedForeColor : 
                            item.IsActive ? ActiveForeColor : PendingForeColor : 
                        StepNoForeColor"
     [EnableShadow]="EnableShadowOnContent"
     [ContentWidth]="ContentWidth + 'px'"></rsequence-vertical>    
</div>
