
<div>
    <rsequence-vertical *ngFor="let item of Items" [Item]="item"
     [ActiveBackgroundColor]="ActiveBackgroundColor"
     [ActiveForeColor]="ActiveForeColor"
     [CompletedBackgroundColor]="CompletedBackgroundColor"
     [CompletedForeColor]="CompletedForeColor"
     [PendingBackgroundColor]="PendingBackgroundColor"
     [PendingForeColor]="PendingForeColor"
     [EnableEmptyItemOnLeftSide]="!_allItemsAreInRight"
     [StripLineColor]="StripLineColor"
     [StepNo]="item.StepNo"
     [IsDisplayStepNo]="IsDisplayStepNo"
     [StepNoForeColor]="StepNoForeColor"
     [ContentWidth]="ContentWidth"></rsequence-vertical>    
</div>
