

:host {
    display: inline-block;
    vertical-align: top;
    width: fit-content;
    margin-top: 6px; 
    margin-bottom: 6px;      
}

.checkroot{
    /* width: 16px;
    height: 16px; */
    border: 4px solid lightgray;
    background-color: whitesmoke;    
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;    
}


.round {
    height: var(--height);
    width: var(--width); 
    /* background-color: lightgray; */
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 0 0 1px whitesmoke;
}

.remove {

}

.remove::before {
    content: "";
}

.label {
    padding-right: 5px;
    color: black;
    padding-left: 5px;
    align-content: center;
}

::-webkit-scrollbar {
    width: 0.4em;;
    height: 0.4em;;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #bdbbbb;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #5e5e5e;
    border-radius: 10px;
  } 
