<div style="display: flex;cursor: pointer; align-items: center;" [id]="Id" (click)="check($event)">
    <div *ngIf="!DisplayTextRightAlign" class="label" [ngStyle]="{ 'color': LabelColor}">
        {{DisplayText}}
    </div>
    <div class="checkroot">
        <span [ngClass]="{'round': IsChecked}" [ngStyle]="{'background-color': Color}">

        </span>
    </div>

    <div *ngIf="DisplayTextRightAlign" class="label" [ngStyle]="{ 'color': LabelColor}">
        {{DisplayText}}
    </div>
</div>