

.tline {
    width: 4px;
    height: 30px;    
    border-radius: 10%;    
    display: block;      
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;   
    position: relative;
    margin-left: 6px;
}

.circle {
    width: 15px;
    height: 15px;        
    border-radius: 50%;
    display: block;      
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;   
    position: relative;
    
}

.bline {
    width: 4px;
    height: 20px;    
    border-radius: 10%;    
    display: block;      
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;   
    position: relative;
    margin-left: 6px;
}

.content {        
    padding-top: 10px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    overflow-wrap: break-word;
    left: 11px;
    position: relative;
    height: 40px;
    top: 10px;
    text-wrap: wrap;
    border-radius: 4%;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;   
}

.leftContent {
    padding-top: 10px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    overflow-wrap: break-word;
    left: 11px;
    position: relative;
    height: 40px;
    top: 10px;
    text-wrap: wrap;
    border-radius: 4%;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;   
    margin-right: 20px;
}

.leftemptyContent{
    padding-top: 10px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    overflow-wrap: break-word;
    left: 11px;
    position: relative;
    height: 40px;
    top: 10px;
    text-wrap: wrap;        
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;   
    margin-right: 20px;
}
