<div  class="dropdown fileuploadclose" [id]="Id">
    <input [hidden]="true" multiple type="file" #rfile (change)="onFilesSelected($event)" />
    <div style="width: 285px;">
    <rgroup-panel [groupname]="'Files Upload'" [TitleForeColor]="TextForeColor" 
            [EnableShadowEffect]="EnableShadowEffect">
        <div #startElement style="display: flex;">
            <div class="rcontainer" 
                        [ngClass]="{ 'brdr': !EnableShadowEffect }"
                        [ngStyle]="{'border-bottom-color': IconForeColor, 
                                    'box-shadow': EnableShadowEffect ? 'rgba(0, 0, 0, 0.24) 0px 3px 8pxs' : ''}">
                <div class="displayText" [ngStyle]="{ 'color': TextForeColor }">{{DisplayText}}</div>
                <div *ngIf="Files.length > 0">
                    <span class="droppos" (click)="toggle($event)" #openbtn
                        [ngClass]="{ 'icon-down': !showFiles, 'icon-up': showFiles}"
                        [ngStyle]="{'color': IconForeColor}"></span>
                    <span (click)="clear($event)" class="closebtn" 
                            [ngStyle]="{'color': IconForeColor}">x</span>
                </div>
            </div>
            
            <span class="bicon" (click)="browse($event)" 
                  [ngStyle]="{'color': IconForeColor}">
                    <span class="uploadicon" [ngStyle]="{'color': IconForeColor}">&#8593;</span>
                    <div class="bar" style="display:none" [ngStyle]="{'background-color': IconForeColor}"></div>                    
            </span>

        </div>
        <div *ngIf="showFiles" class="tableContainer rfileuploaddropdownclose" id="dropdownId"
            [ngClass]="{'dropdown-content': ShowFilesAsDropdownContainer }"
            [ngStyle]="{ 'visibility':showFiles ? 'visible': 'collapse', 'height':'fit-content',
                'background-color': ShowFilesAsDropdownContainer ? 'white': '',
                'max-height':EnableMaximumHeightForShowFiles ? ShowFilesListMaximumHeight : ''}">
            <table class="tab">
                <thead>
                    <th style="width: 170px;overflow-wrap:anywhere;">Name</th>
                    <th>Size</th>                    
                </thead>
                <tbody class="">
                    <tr *ngFor="let item of Files" [ngStyle]="{ 'color': TextForeColor }">
                        <td style="width: 170px; overflow-wrap: anywhere; text-wrap: wrap;">{{item.name}}</td>
                        <td>{{item.size}}</td>                        
                    </tr>
                </tbody>
            </table>
        </div>
    </rgroup-panel>
    </div>
</div>
