<div>
    <input [hidden]="true" multiple type="file" #rfile (change)="onFilesSelected($event)" />
    <div style="width: 285px;">
    <rgroup-panel [groupname]="'Files Upload'" [TitleForeColor]="TextForeColor">
        <div style="display: flex;">
            <div class="rcontainer" [ngStyle]="{'border-bottom-color': IconForeColor}">
                <div class="displayText" [ngStyle]="{ 'color': TextForeColor }">{{DisplayText}}</div>
                <div *ngIf="DisplayText!=''">
                    <span class="droppos" (click)="toggle($event)"
                        [ngClass]="{ 'icon-down': !showFiles, 'icon-up': showFiles}"
                        [ngStyle]="{'color': IconForeColor}"></span>
                    <span (click)="clear($event)" class="closebtn" 
                            [ngStyle]="{'color': IconForeColor}">x</span>
                </div>
            </div>
            <span class="bicon" (click)="browse($event)" 
                  [ngStyle]="{'color': IconForeColor}">&#8593;</span>
        </div>
        <div *ngIf="showFiles">
            <table class="tab">
                <thead>
                    <th>Name</th>
                    <th>Size</th>                    
                </thead>
                <tbody>
                    <tr *ngFor="let item of Files" [ngStyle]="{ 'color': TextForeColor }">
                        <td>{{item.name}}</td>
                        <td>{{item.size}}</td>                        
                    </tr>
                </tbody>
            </table>
        </div>
    </rgroup-panel>
    </div>
</div>