<div>
    <input [hidden]="true" multiple type="file" #rfile (change)="onFilesSelected($event)" />
    <div style="width: 285px;">
    <rgroup-panel [groupname]="'Files Upload'" [TitleForeColor]="TextForeColor" 
            [EnableShadowEffect]="EnableShadowEffect">
        <div style="display: flex;">
            <div class="rcontainer" [ngStyle]="{'border-bottom-color': IconForeColor}">
                <div class="displayText" [ngStyle]="{ 'color': TextForeColor }">{{DisplayText}}</div>
                <div *ngIf="Files.length > 0">
                    <span class="droppos" (click)="toggle($event)"
                        [ngClass]="{ 'icon-down': !showFiles, 'icon-up': showFiles}"
                        [ngStyle]="{'color': IconForeColor}"></span>
                    <span (click)="clear($event)" class="closebtn" 
                            [ngStyle]="{'color': IconForeColor}">x</span>
                </div>
            </div>
            
            <span class="bicon" (click)="browse($event)" 
                  [ngStyle]="{'color': IconForeColor}">
                    <span class="uploadicon" [ngStyle]="{'color': IconForeColor}">&#8593;</span>
                    <div class="bar" [ngStyle]="{'background-color': IconForeColor}"></div>                    
            </span>

        </div>
        <div *ngIf="showFiles" class="tableContainer" 
            [ngClass]="{'dropdown-content': ShowFilesAsDropdownContainer }"
            [ngStyle]="{ 'visibility':showFiles ? 'visible': 'collapse', 'height':'100%',
                'max-height':EnableMaximumHeightForShowFiles ? ShowFilesListMaximumHeight : ''}">
            <table class="tab">
                <thead>
                    <th style="width: 170px;">Name</th>
                    <th>Size</th>                    
                </thead>
                <tbody class="">
                    <tr *ngFor="let item of Files" [ngStyle]="{ 'color': TextForeColor }">
                        <td style="text-wrap: wrap;">{{item.name}}</td>
                        <td>{{item.size}}</td>                        
                    </tr>
                </tbody>
            </table>
        </div>
    </rgroup-panel>
    </div>
</div>