<div>

  <div>

    <rstarrating [starWidth]="starWidth"></rstarrating>

    <rstarrating [starWidth]="starWidth" [starColor]="'red'" [(ngModel)]="starValue"></rstarrating> {{starValue}}
    <rstarrating [starWidth]="starWidth" [starColor]="'blue'"></rstarrating>

    <rdropdown [(ngModel)]="multiValue" [IsMulti]="true" [Items]="items" Width="112px" DropDownContentWidth="122px">
    </rdropdown>

    <rdropdown [(ngModel)]="singleValue" [IsMulti]="false" [Items]="items1" Width="112px" DropDownContentWidth="122px">
    </rdropdown>

    <br />
    <br />
    <br />
    <div>
      multi:{{multiValue.length}}
      single: {{singleValue.DisplayValue}}
    </div>

  </div>
  <br />
  <br />

  <rcolorpicker [(ngModel)]="color1" [DisplayColorInHex]="true" [IsDisplayLabelText]="true"
    (ColorSelected)="ColorSelected($event)" [LabelText]="'Processed Color : '">
  </rcolorpicker>

  <rcolorpicker [IsDisplayLabelText]="true" (ColorSelected)="ColorSelected($event)" [LabelText]="'Pending Color : '"
    [IsDisplayColorCode]="false"></rcolorpicker>
  <br />
  <br />
  <rtree [Items]="treeItems" (onExpandClicked)="ExpandClicked($event)" (onItemSelected)="OnTreeItemSelected($event)">
  </rtree>
  <br />

  <rbutton [ButtonWidth]="'150px'" [BackgroundColor]="'OrangeRed'" (ButtonClick)="nextStep()">Move to Next Step
  </rbutton>
  <rbutton [ButtonWidth]="'150px'" (ButtonClick)="prevStep()">Move to Previous Step</rbutton>

  <br />

  <br />
  <br />

  <rstate-vertical #sequ [SelectedActiveIndex]="SeqActiveIndex" [Items]="seqItems" [(ngModel)]="StepperSelectedItem"
    [IsDisplayStepNo]="true" [PendingBackgroundColor]="'orange'" [PendingForeColor]="'white'" [ContentWidth]="'140px'"
    (OnActiveValueChanged)="seqValueChanged($event)" [ActiveBackgroundColor]="'blue'"></rstate-vertical>

  <br />

  <rslider [IsDisplayValue]="true" [ShowDecimalValues]="true" [MinValue]="0" [MaxValue]="1" [(ngModel)]="rangeValue">
  </rslider>
  <br />
  <rslider [SliderWidth]="400" [EnablePathColor]="false" [BackgroundColor]="'Red'" [MinValue]="25" [MaxValue]="75">
  </rslider>
  <br />
  <rslider [SliderWidth]="300" [EnablePathColor]="true" [BackgroundColor]="'Orange'"></rslider>
  <br />

  <rbutton [ButtonWidth]="'150px'" [BackgroundColor]="'OrangeRed'" (ButtonClick)="nextStepH()">Move to Next Step
  </rbutton>
  <rbutton [ButtonWidth]="'150px'" (ButtonClick)="prevStepH()">Move to Previous Step</rbutton>

  <br />

  <div>
    <rstate-horizontal #sequhorizontal [SelectedActiveIndex]="SeqHorizontalActiveIndex" [Items]="seqHorizontalItems"
      [(ngModel)]="StepperHorizontalSelectedItem" [ContentWidth]="'110px'" [IsDisplayStepNo]="false"
      (OnActiveValueChanged)="seqValueChangedForHorizontal($event)" [StripLineColor]="'blue'"></rstate-horizontal>

  </div>
  <div>
    <rstate-horizontal #sequhorizontal [SelectedActiveIndex]="SeqHorizontalActiveIndex" [Items]="seqHorizontalItems"
      [(ngModel)]="StepperHorizontalSelectedItem" [ContentWidth]="'110px'" [IsDisplayStepNo]="true"
      (OnActiveValueChanged)="seqValueChangedForHorizontal($event)" [StripLineColor]="'blue'"></rstate-horizontal>

  </div>
  <br />
  <div style="display: flex;">
    <rgroup-panel groupname="Sports Interest" [IsItemsArrangeHorizontal]="false">
      <rcheckbox [DisplayText]="'Football'" [(ngModel)]="IsFootball1"></rcheckbox>
      <rcheckbox [DisplayText]="'Volleyball'" [(ngModel)]="IsVolleyball1"></rcheckbox>
      <rcheckbox [DisplayText]="'Tennis'" [(ngModel)]="IsTennis1"></rcheckbox>
    </rgroup-panel>

    <rgroup-panel groupname="Sports Interest" [IsItemsArrangeHorizontal]="true">
      <rcheckbox [DisplayText]="'Football'" [(ngModel)]="IsFootball1"></rcheckbox>
      <rcheckbox [DisplayText]="'Volleyball'" [(ngModel)]="IsVolleyball1"></rcheckbox>
      <rcheckbox [DisplayText]="'Tennis'" [(ngModel)]="IsTennis1"></rcheckbox>
    </rgroup-panel>
  </div>

  <div>
    <rfileupload [EnableShadowEffect]="true" (filesCleared)="filesCleared($event)" (filesSelected)="filesSelected($event)"></rfileupload>
  </div>

  <div>
    <rtextbox [(ngModel)]="userName" [PlaceholderText]="'Please enter user name'" [LabelText]="'UserName'"></rtextbox>
    <rtextbox [LabelText]="'Email'"></rtextbox>
    <rtextbox [(ngModel)]="userName" [PlaceholderText]="'Please enter name'"></rtextbox>
  </div>

  <br />
  <div>
    <rtextbox [IsPasswordBox]="true" [(ngModel)]="password" [PlaceholderText]="'Please enter password'"
      [LabelText]="'Password'"></rtextbox>
    <rtextbox [IsPasswordBox]="true" [(ngModel)]="confirmpassword" [PlaceholderText]="'Please enter confirm password'"
      [LabelText]="'Confirm Password'"></rtextbox>
    <rbutton>Submit</rbutton>
  </div>
  <br />
  <br />

  <rnumeric [(ngModel)]="rangeValue1"></rnumeric>

  <rnumeric [EnableShadowEffect]="true" [PlusBackgroundColor]="'Orange'" [MinusBackgroundColor]="'orangered'"
    [BottomLineColor]="'orangered'" [LabelTextForeColor]="'orangered'" [(ngModel)]="rangeValue1"></rnumeric>

  <br />

  <rtimer [EnableShadowEffect]="true"></rtimer>
  <rtimer [DisplayType]="timerDisplayType" [HoursForeColor]="'orangered'" [MinuteForeColor]="'orangered'"
    [SecondsForeColor]="'orangered'" [DisplayTextForeColor]="'orangered'" [EnableShadowEffect]="true"
    [CircularWidth]="70"></rtimer>

  <br />

  <rtimeselector [(ngModel)]="time1"></rtimeselector>

  <rtimeselector [(ngModel)]="time2"></rtimeselector>
  <br />

  <rtimeselector [LabelText]="'Arriving Time'" [(ngModel)]="time3" [Is24HourFormat]="false"
    [SetCurrentTimeAsDefaultOnLoad]="true"></rtimeselector>
  <br />
  <br />

  <br />
  <br />
  <div>
    <br />
    <div>
      <rselectdropdown [Items]="selectDropdownItems" [IsMulti]="true" [DropDownContentWidth]="'200px'">
        <ng-template optionstemplate let-Item>
          <div>
            <span>{{Item.Value.Id}}</span>
            <span>{{Item.Value.Name}}</span>
            <span>{{Item.Value.Education}}</span>
          </div>
        </ng-template>
      </rselectdropdown>

      <rselectdropdown [Items]="items" [IsMulti]="true" [(ngModel)]="multiValue" [DropDownContentWidth]="'130px'">
      </rselectdropdown>

      <rselectdropdown [Items]="items1" [IsMulti]="true" [Width]="'100px'" [DropDownContentWidth]="'130px'">
      </rselectdropdown>

      <rselectdropdown [Items]="selectDropdownItems" [DropDownContentWidth]="'200px'">
        <ng-template optionstemplate let-Item>
          <div>
            <span>{{Item.Value.Id}}</span>
            <span>{{Item.Value.Name}}</span>
            <span>{{Item.Value.Education}}</span>
          </div>
        </ng-template>
      </rselectdropdown>

      <rselectdropdown [Items]="items" [DropDownContentWidth]="'130px'"></rselectdropdown>

      <rselectdropdown [Items]="items1" [(ngModel)]="singleValue" [DropDownContentWidth]="'130px'"></rselectdropdown>

    </div>
    <br />
    <br />
    <br />
    
    <rbutton (ButtonClick)="populateGridValues()">Add Items</rbutton>
    <br/>
    <br/>
    <revents-schedule [ShowMarker]="true" [ShowScrollBar]="false" [DisplayDatesOnLoad]="dates" [SelectedDate]="selectedDate" 
          [ScheduleItems]="scheduleItems"></revents-schedule>
    <br/>
    <div style="float: left;padding-right:30px">
      <rgrid [Items]="gridItems1" (OnItemsChanged)="itemsChangedGridItems1($event)" 
        [HeaderBackgroundColor]="'blue'"
        [ItemsPerPage]="ItemsPerPage" [TableHeight]="'200px'"></rgrid>
    </div>

    <rgrid [Items]="gridItems" (OnItemsChanged)="itemsChanged($event)" [ItemsPerPage]="ItemsPerPage">

      <rcolumn [Name]="'column1'" [PropToBind]="'Id'" [HeaderText]="'S.No'" [EditModeWidth]="'100px'" [Height]="'20px'">
        <ng-template readviewtemplate let-Item let-cell="CellInfo">
          <span>{{cell.Value}}</span>
        </ng-template>
        <ng-template editviewtemplate let-Item let-rcell="CellInfo">
          <rtextbox [BottomLineColor]="'rgb(35, 206, 236)'" [TextBoxHeight]="12" [EnableMarginTextBottom]="false" [TextBoxWidth]="40"
            [(ngModel)]="rcell.Value" />
        </ng-template>
      </rcolumn>


      <rcolumn [Name]="'column2'" [PropToBind]="'Name'" [HeaderText]="'First Name'" [EditModeWidth]="'120px'">
        <ng-template readviewtemplate let-Item>
          <span>{{Item.Name}}</span>
        </ng-template>
        <ng-template editviewtemplate let-cell="CellInfo">
          <rtextbox [BottomLineColor]="'rgb(35, 206, 236)'" [TextBoxHeight]="12" [EnableMarginTextBottom]="false" [TextBoxWidth]="40"
            [(ngModel)]="cell.Value" />
        </ng-template>
      </rcolumn>

      <rcolumn [Name]="'column3'" [PropToBind]="'Age'" [HeaderText]="'Age'" [EditModeWidth]="'130px'">
        <ng-template readviewtemplate let-Item>
          <span>{{Item.Age}}</span>
        </ng-template>
        <ng-template editviewtemplate let-cell="CellInfo">
          <rnumeric [BottomLineColor]="'rgb(35, 206, 236)'"  
          [MinusBackgroundColor]="'rgb(35, 206, 236)'" [PlusBackgroundColor]="'rgb(35, 206, 236)'"
          [(ngModel)]="cell.Value" [LabelText]="''" [TextBoxWidth]="70"></rnumeric>
        </ng-template>
      </rcolumn>

      <rcolumn [Name]="'column4'" [PropToBind]="'Education.Higher.Course'" [HeaderText]="'Degree'"
        [EditModeWidth]="'80px'">
        <ng-template readviewtemplate let-Item>
          <span>{{Item.Education.Higher.Id}}</span> -
          <span>{{Item.Education.Higher.Course}}</span>
        </ng-template>
        <ng-template editviewtemplate let-cell="CellInfo">
          <rtextbox [BottomLineColor]="'rgb(35, 206, 236)'"  [TextBoxHeight]="12" [EnableMarginTextBottom]="false" [TextBoxWidth]="40"
            [(ngModel)]="cell.Value" />
        </ng-template>
      </rcolumn>

      <rcolumn [Name]="'column5'" [IsComputationalColumn]="true" [HeaderText]="'Pass Age'" [EditModeWidth]="'80px'">
        <ng-template readviewtemplate let-Item>
          <span>{{Item.Age + 4}}</span>
        </ng-template>
        <ng-template editviewtemplate let-cell="CellInfo">
          <rtextbox [BottomLineColor]="'rgb(35, 206, 236)'"  [TextBoxHeight]="12" [EnableMarginTextBottom]="false" [TextBoxWidth]="40"
            [(ngModel)]="cell.Value" />
        </ng-template>
      </rcolumn>

    </rgrid>
  </div>
  <br />
  <br />

  <rstepper-vertical [ContentWidth]="800" [ContentHeight]="530">
    <rstep [Title]="'UserInfo'" [IsStepValid]="stepOneValid" [DisplayTextForNextButton]="'Next'" [DisplayTextForBackButton]="'Back'">
      <ng-template rstepview>

        <rgrid [Items]="gridItems1" (OnItemsChanged)="itemsChangedGridItems1($event)" 
          [HeaderBackgroundColor]="'blue'"
          [ItemsPerPage]="ItemsPerPage" [TableHeight]="'200px'"></rgrid>
        <br />
        <rbutton [BackgroundColor]="'orange'" (ButtonClick)="stepOneSave($event)">
          Save        
        </rbutton>

      </ng-template>
    </rstep>
    <rstep [Title]="'Education Info'" [IsStepValid]="stepTwoValid" [DisplayTextForNextButton]="'Next'" [DisplayTextForBackButton]="'Back'">
      <ng-template rstepview>
        <rgrid [Items]="gridItems1" (OnItemsChanged)="itemsChangedGridItems1($event)" 
          [HeaderBackgroundColor]="'blue'"
          [ItemsPerPage]="ItemsPerPage" [TableHeight]="'200px'"></rgrid>

          <br />
        <rbutton [BackgroundColor]="'orange'" (ButtonClick)="stepTwoSave($event)">
          Save        
        </rbutton>
      </ng-template>
    </rstep>
    <rstep [Title]="'Confirm Info'" [IsStepValid]="stepThreeValid" [DisplayTextForNextButton]="'Next'" [DisplayTextForBackButton]="'Back'">
      <ng-template rstepview>

        <rgrid [Items]="gridItems1" (OnItemsChanged)="itemsChangedGridItems1($event)" 
          [HeaderBackgroundColor]="'blue'"
          [ItemsPerPage]="ItemsPerPage" [TableHeight]="'200px'"></rgrid>
          <br />
        <rbutton [BackgroundColor]="'orange'" (ButtonClick)="stepThreeSave($event)">
          Save        
        </rbutton>

      </ng-template>
    </rstep>
  </rstepper-vertical>

  <br />
  <div>
    <br />
    <rbutton BackgroundColor="green" [ButtonWidth]="'150px'" ForeColor="white" (ButtonClick)="DeleteTab()">Delete One
      Tab</rbutton>
    <br />
    <div>
      <label>Tab Index</label>
      <input type="text" [(ngModel)]="deltabindex" />
      <rbutton [ButtonWidth]="'150px'" (ButtonClick)="DeleteTabBasedOnIndex()">Delete Tab(index)</rbutton>
    </div>
    <br />
  </div>

  <rbutton (ButtonClick)="AddTab()">Add Tab</rbutton>



  <div cdkDropListGroup>
    <rtabs [TabWidth]="'650px'" [TabHeight]="'350px'" [DisplayTabContainerWhenZeroTabs]="true">

      <rtab *tabidfor="{ 'TabId':'tab1', 'HeaderText':'rcalender', 'Context':this }">
        <rcalender [(ngModel)]="curDate" (onDateSelected)="dateSelected($event)"></rcalender> {{curDate}}
        <rcalender [EnableFilterOptionForMonth]="false" [EnableFilterOptionForYear]="false" 
              [(ngModel)]="dt1" [SelectedItemBackGroundColor]="'blue'"></rcalender> {{dt1}}
        <rcalender></rcalender>
      </rtab>

      <rtab *tabidfor="{ 'TabId':'tab2', 'HeaderText':'rdropdown', 'Context':this }">
        <rdropdown [(ngModel)]="selItem" [IsMulti]="true" [Items]="items" Width="112px" DropDownContentWidth="122px">
        </rdropdown>
        {{selItem.Value}}

        <rdropdown [Items]="items" [(ngModel)]="selItem" DropDownContentWidth="92px">
        </rdropdown>

        <rdropdown [(ngModel)]="singleValue" [IsMulti]="false" [Items]="items1" Width="112px"
          DropDownContentWidth="122px">
        </rdropdown>

        <br />
        <br />
        <div>
          Multiple Values Select Count :{{selItem.length}}
          Single Value : {{singleValue.DisplayValue}}
        </div>

        <rstarrating [starWidth]="starWidth" [starColor]="'orange'" [(ngModel)]="starValue"></rstarrating> {{starValue}}
        <rcalender></rcalender>
      </rtab>

      <rtab *tabidfor="{ 'TabId':'tab3', 'HeaderText':'rstarrating', 'Context':this }">
        <rstarrating [starWidth]="starWidth"></rstarrating>
        <rstarrating [starWidth]="starWidth" [starColor]="'red'" [(ngModel)]="starValue"></rstarrating> {{starValue}}
        <rstarrating [starWidth]="starWidth" [starColor]="'blue'"></rstarrating>
      </rtab>


      <rtab *tabidfor="{ 'TabId':'tab4', 'HeaderText':'rswitch', 'Context':this }">

        <rswitch [DisplayLabel]="'MoveToCenter'"  (checked)="switchChange($event)" [(ngModel)]="isChecked"></rswitch>

        <rswitch [DisplayLabel]="'MoveToCenter Copy'" (checked)="switchChange($event)" [(ngModel)]="isChecked"></rswitch>

        <rswitch [DisplayLabel]="'ChangeToCircle'" (checked)="changeToCircle($event)" [(ngModel)]="IsCircleProgressBar">
        </rswitch>

        <span>Is Circle: {{IsCircleProgressBar}}</span>

        <rswitch [DisplayLabel]="'ChangeToInfinite'" (checked)="changeToInfinite($event)"
          [(ngModel)]="IsInfiniteProgressBar"></rswitch>

      </rtab>

      <rtab *tabidfor="{ 'TabId': 'tab5', 'HeaderText':'rtree', 'Context': this}">
        <rtree [Items]="treeItems" (onExpandClicked)="ExpandClicked($event)"
          (onItemSelected)="OnTreeItemSelected($event)"></rtree>
      </rtab>

      <rtab *tabidfor="{ 'TabId': 'tab6', 'HeaderText':'rcheckbox', 'Context': this}">
        <div style="display: flex;">
          <rgroup-panel groupname="Sports Interest">
            <rcheckbox [DisplayText]="'Football'" [(ngModel)]="IsFootball" [GroupName]="'sports'"></rcheckbox>
            <rcheckbox [DisplayText]="'Volleyball'" [(ngModel)]="IsVolleyball" [GroupName]="'sports'"></rcheckbox>
            <rcheckbox [DisplayText]="'Tennis'" [(ngModel)]="IsTennis" [GroupName]="'sports'"></rcheckbox>
          </rgroup-panel>
        </div>
        <div style="display: flex;vertical-align: middle;">
          <rcheckbox [DisplayText]="'Import'" [(ngModel)]="isChecked"></rcheckbox>
        </div>
      </rtab>

      <rtab *tabidfor="{ 'TabId': 'tab7', 'HeaderText':'rradiobutton', 'Context':this}">
        <div style="display: flex;">
          <rgroup-panel [groupname]="'Sports'" [IsItemsArrangeHorizontal]="true">
            <rradiobutton [Color]="'OrangeRed'" [DisplayText]="'Football'" [(ngModel)]="IsFootball"
              [GroupName]="'sports'"></rradiobutton>
            <rradiobutton [DisplayText]="'Volleyball'" [(ngModel)]="IsVolleyball" [GroupName]="'sports'"></rradiobutton>
            <rradiobutton [Color]="'Blue'" [DisplayText]="'Tennis'" [(ngModel)]="IsTennis" [GroupName]="'sports'">
            </rradiobutton>
          </rgroup-panel>
        </div>
      </rtab>



      <rtab *tabidfor="{ 'TabId': 'tab8', 'HeaderText':'rfileupload', 'Context':this}">
        <div style="display: flex;">
          <rfileupload (filesCleared)="filesCleared($event)" [(ngModel)]="files"
            (filesSelected)="filesSelected($event)"></rfileupload>
        </div>
      </rtab>

      <rtab *tabidfor="{ 'TabId': 'tab9', 'HeaderText':'rcolorpicker', 'Context':this}">
        <rcolorpicker [IsDisplayLabelText]="true" (ColorSelected)="ColorSelected($event)"
          [LabelText]="'Processed Color : '"></rcolorpicker>
        <rcolorpicker [(ngModel)]="color1" [IsDisplayLabelText]="true" (ColorSelected)="ColorSelected($event)"
          [LabelText]="'Pending Color : '" [IsDisplayColorCode]="false"></rcolorpicker>
      </rtab>

      <rtab *tabidfor="{ 'TabId': 'tab10', 'HeaderText':'rprogressbar', 'Context':this}">
        <rswitch [DisplayLabel]="'MoveToCenter'" (checked)="switchChange($event)" [(ngModel)]="isChecked"></rswitch>

        <rswitch [DisplayLabel]="'ChangeToCircle'" (checked)="changeToCircle($event)" [(ngModel)]="IsCircleProgressBar">
        </rswitch>

        <rswitch [DisplayLabel]="'ChangeToInfinite'" (checked)="changeToInfinite($event)"
          [(ngModel)]="IsInfiniteProgressBar"></rswitch>

        <rprogressbar [ForeColor]="'blue'" [TrackColor]="'lightgray'" [EnableBackDrop]="false"
          [FloatInCenter]="proincenter" [DisplayType]="progressDisplayType" [StraightLineTrackHeight]="'16px'"
          [ProgressBarWidth]="'150px'" [Percentage]="perc" [CircularLineWidth]="'15px'"
          [FiniteCircularDisplayText]="progressDisplayText" [Type]="progressType">
        </rprogressbar>

        <rbutton [ButtonWidth]="'150px'" (ButtonClick)="ResetProgress()">Reset</rbutton>
      </rtab>


      <rtab *tabidfor="{'TabId':'tab11', 'HeaderText':'rtimer', 'Context': this}">
        <rtimer (ValueChanged)="rtimer_ValueChanged($event)"></rtimer>
        <rtimer [CallbackAfterCertainSeconds]="120"
          (CallbackTriggeredAfterCertainSeconds)="callbackAfterInterval($event)" [DisplayType]="0" [CircularWidth]="70">
        </rtimer>
      </rtab>

      <rtab *tabidfor="{ 'TabId': 'tab12', 'HeaderText':'rtimeselector', 'Context':this}">
        <rtimeselector [(ngModel)]="time1"></rtimeselector>

        <rtimeselector [(ngModel)]="time2"></rtimeselector>

        <rtimeselector [LabelText]="'Arriving Time'" [(ngModel)]="time3" [Is24HourFormat]="false"
          [SetCurrentTimeAsDefaultOnLoad]="true"></rtimeselector> {{time3}}
      </rtab>

      <rtab *tabidfor="{ 'TabId': 'tab13', 'HeaderText':'rstepper vertical', 'Context':this}">
        <rstepper-vertical [ContentWidth]="800" [ContentHeight]="530">
          <rstep [Title]="'UserInfo'" [IsStepValid]="stepOneValid" [DisplayTextForNextButton]="'Next'" [DisplayTextForBackButton]="'Back'">
            <ng-template rstepview>
      
              <rgrid [Items]="gridItems1" (OnItemsChanged)="itemsChangedGridItems1($event)" 
                [HeaderBackgroundColor]="'blue'"
                [ItemsPerPage]="ItemsPerPage" [TableHeight]="'200px'"></rgrid>
              <br />
              <rbutton [BackgroundColor]="'orange'" (ButtonClick)="stepOneSave($event)">
                Save        
              </rbutton>
      
            </ng-template>
          </rstep>
          <rstep [Title]="'Education Info'" [IsStepValid]="stepTwoValid" [DisplayTextForNextButton]="'Next'" [DisplayTextForBackButton]="'Back'">
            <ng-template rstepview>
              <rgrid [Items]="gridItems1" (OnItemsChanged)="itemsChangedGridItems1($event)" 
                [HeaderBackgroundColor]="'blue'"
                [ItemsPerPage]="ItemsPerPage" [TableHeight]="'200px'"></rgrid>
      
                <br />
              <rbutton [BackgroundColor]="'orange'" (ButtonClick)="stepTwoSave($event)">
                Save        
              </rbutton>
            </ng-template>
          </rstep>
          <rstep [Title]="'Confirm Info'" [IsStepValid]="stepThreeValid" [DisplayTextForNextButton]="'Next'" [DisplayTextForBackButton]="'Back'">
            <ng-template rstepview>
      
              <rgrid [Items]="gridItems1" (OnItemsChanged)="itemsChangedGridItems1($event)" 
                [HeaderBackgroundColor]="'blue'"
                [ItemsPerPage]="ItemsPerPage" [TableHeight]="'200px'"></rgrid>
                <br />
              <rbutton [BackgroundColor]="'orange'" (ButtonClick)="stepThreeSave($event)">
                Save        
              </rbutton>
      
            </ng-template>
          </rstep>
        </rstepper-vertical>
      
      </rtab>
    </rtabs>

    <rtabs #tabCom1 [TabWidth]="'650px'" [TabHeight]="'350px'" [DisplayTabContainerWhenZeroTabs]="true">

      <rtab *tabidfor="{ 'TabId':'tab20', 'HeaderText':'rslider', 'Context':this }">


        <rslider [IsDisplayValue]="true" [ShowDecimalValues]="true" [MinValue]="0" [MaxValue]="1"
          [(ngModel)]="rangeValue"></rslider>
        <br />
        <rslider [SliderWidth]="400" [EnablePathColor]="false" [BackgroundColor]="'Red'" [MinValue]="25"
          [MaxValue]="75"></rslider>
        <br />
        <rslider [(ngModel)]="rangeValue1" [SliderWidth]="300" [EnablePathColor]="true" [BackgroundColor]="'Orange'">
        </rslider>
        <br />


      </rtab>

      <rtab *tabidfor="{ 'TabId':'tab21', 'HeaderText':'rstate-vertical', 'Context':this }">
        <rbutton [ButtonWidth]="'150px'" type="submit" (ButtonClick)="nextStep()" BackgroundColor="orangered">Move to
          Next Step</rbutton>
        <rbutton [ButtonWidth]="'150px'" (ButtonClick)="prevStep()">Move to Previous Step</rbutton>
        <br />
        <br />
        <br />
        <rstate-vertical #sequ [SelectedActiveIndex]="SeqActiveIndex" [Items]="seqItems"
          [(ngModel)]="StepperSelectedItem" (OnActiveValueChanged)="seqValueChanged($event)"
          [PendingBackgroundColor]="'orangered'" [PendingForeColor]="'white'"
          [ActiveBackgroundColor]="'blue'"></rstate-vertical>

        <br />


        <rstate-vertical #sequ [SelectedActiveIndex]="SeqActiveIndex" [Items]="seqItems"
          [(ngModel)]="StepperSelectedItem" [IsDisplayStepNo]="false" (OnActiveValueChanged)="seqValueChanged($event)"
          [ActiveBackgroundColor]="'blue'"></rstate-vertical>

        <br />
      </rtab>

      <rtab *tabidfor="{ 'TabId':'tab22', 'HeaderText':'rstate-horizontal', 'Context':this }">

        <rbutton [ButtonWidth]="'150px'" [BackgroundColor]="'OrangeRed'" (ButtonClick)="nextStepH()">Move to Next Step
        </rbutton>
        <rbutton [ButtonWidth]="'150px'" (ButtonClick)="prevStepH()">Move to Previous Step</rbutton>
        <br />

        <div>
          <rstate-horizontal #sequhorizontal [SelectedActiveIndex]="SeqHorizontalActiveIndex"
            [Items]="seqHorizontalItems" [(ngModel)]="StepperHorizontalSelectedItem" [ContentWidth]="'110px'"
            [IsDisplayStepNo]="false" [CompletedForeColor]="'red'"
            (OnActiveValueChanged)="seqValueChangedForHorizontal($event)" [StripLineColor]="'blue'"></rstate-horizontal>

        </div>
        <div>
          <rstate-horizontal #sequhorizontal [SelectedActiveIndex]="SeqHorizontalActiveIndex"
            [Items]="seqHorizontalItems" [(ngModel)]="StepperHorizontalSelectedItem" [ContentWidth]="'110px'"
            [IsDisplayStepNo]="true" (OnActiveValueChanged)="seqValueChangedForHorizontal($event)"
            [StripLineColor]="'blue'"></rstate-horizontal>

        </div>
        <br />

      </rtab>

      <rtab *tabidfor="{ 'TabId':'tab23', 'HeaderText':'rbutton', 'Context':this }">
        <rbutton [ButtonWidth]="'150px'" [BackgroundColor]="'OrangeRed'" (ButtonClick)="nextStepH()">Move to Next Step
        </rbutton>
        <rbutton [ButtonWidth]="'150px'" (ButtonClick)="prevStepH()">Move to Previous Step</rbutton>
      </rtab>


      <rtab *tabidfor="{ 'TabId':'tab24', 'HeaderText':'rgroup-panel', 'Context':this }">

        <div style="display: flex;">
          <rgroup-panel groupname="Sports Interest" [IsItemsArrangeHorizontal]="true">
            <rcheckbox [DisplayText]="'Football'" [(ngModel)]="IsFootball1"></rcheckbox>
            <rcheckbox [DisplayText]="'Volleyball'" [(ngModel)]="IsVolleyball1"></rcheckbox>
            <rcheckbox [DisplayText]="'Tennis'" [(ngModel)]="IsTennis1"></rcheckbox>
          </rgroup-panel>
        </div>

      </rtab>

      <rtab *tabidfor="{ 'TabId':'tab25', 'HeaderText':'rtextbox', 'Context':this }">

        <div>
          <rtextbox [(ngModel)]="userName" [PlaceholderText]="'Please enter user name'" [LabelText]="'UserName'">
          </rtextbox>
          <rtextbox [LabelText]="'Email'"></rtextbox>
          <rtextbox [(ngModel)]="userName" [PlaceholderText]="'Please enter name'"></rtextbox>
        </div>

      </rtab>


      <rtab *tabidfor="{ 'TabId':'tab27', 'HeaderText':'rtextbox password', 'Context':this }">

        <div>
          <rtextbox [IsPasswordBox]="true" [(ngModel)]="password" [PlaceholderText]="'Please enter password'"
            [LabelText]="'Password'"></rtextbox>
          <rtextbox [IsPasswordBox]="true" [(ngModel)]="confirmpassword"
            [PlaceholderText]="'Please enter confirm password'" [LabelText]="'Confirm Password'"></rtextbox>
          <rbutton>Submit</rbutton>
        </div>

      </rtab>

      <rtab *tabidfor="{'TabId':'tab28', 'HeaderText':'Numeric', 'Context': this}">
        <rnumeric [(ngModel)]="rangeValue1"></rnumeric>

        <rnumeric [PlusBackgroundColor]="'Orange'" [MinusBackgroundColor]="'orangered'" [BottomLineColor]="'orangered'"
          [LabelTextForeColor]="'orangered'" [EnableShadowEffect]="true" [(ngModel)]="rangeValue1"></rnumeric>
        <br />
      </rtab>

      <rtab *tabidfor="{'TabId':'tab29', 'HeaderText':'rgrid', 'Context': this}">
        <div style="float: left;padding-right:30px">
          <rgrid [Items]="gridItems1" (OnItemsChanged)="itemsChangedGridItems1($event)" 
                  [TableHeight]="'200px'" [ItemsPerPage]="ItemsPerPage"></rgrid>
        </div>

        <rgrid [Items]="gridItems" (OnItemsChanged)="itemsChanged($event)" [ItemsPerPage]="ItemsPerPage">

          <rcolumn [Name]="'column1'" [PropToBind]="'Id'" [HeaderText]="'S.No'" [EditModeWidth]="'100px'"
            [Height]="'20px'">
            <ng-template readviewtemplate let-Item let-cell="CellInfo">
              <span>{{cell.Value}}</span>
            </ng-template>
            <ng-template editviewtemplate let-Item let-rcell="CellInfo">
              <rtextbox [TextBoxHeight]="12" [EnableMarginTextBottom]="false" [TextBoxWidth]="40"
                [(ngModel)]="rcell.Value" />
            </ng-template>
          </rcolumn>


          <rcolumn [Name]="'column2'" [PropToBind]="'Name'" [HeaderText]="'First Name'" [EditModeWidth]="'120px'">
            <ng-template readviewtemplate let-Item>
              <span>{{Item.Name}}</span>
            </ng-template>
            <ng-template editviewtemplate let-cell="CellInfo">
              <rtextbox [TextBoxHeight]="12" [EnableMarginTextBottom]="false" [TextBoxWidth]="40"
                [(ngModel)]="cell.Value" />
            </ng-template>
          </rcolumn>

          <rcolumn [Name]="'column3'" [PropToBind]="'Age'" [HeaderText]="'Age'" [EditModeWidth]="'130px'">
            <ng-template readviewtemplate let-Item>
              <span>{{Item.Age}}</span>
            </ng-template>
            <ng-template editviewtemplate let-cell="CellInfo">
              <rnumeric [(ngModel)]="cell.Value" [LabelText]="''" [TextBoxWidth]="70"></rnumeric>
            </ng-template>
          </rcolumn>

          <rcolumn [Name]="'column4'" [PropToBind]="'Education.Higher.Course'" [HeaderText]="'Degree'"
            [EditModeWidth]="'80px'">
            <ng-template readviewtemplate let-Item>
              <span>{{Item.Education.Higher.Id}}</span> -
              <span>{{Item.Education.Higher.Course}}</span>
            </ng-template>
            <ng-template editviewtemplate let-cell="CellInfo">
              <rtextbox [TextBoxHeight]="12" [EnableMarginTextBottom]="false" [TextBoxWidth]="40"
                [(ngModel)]="cell.Value" />
            </ng-template>
          </rcolumn>

          <rcolumn [Name]="'column5'" [IsComputationalColumn]="true" [HeaderText]="'Pass Age'" [EditModeWidth]="'80px'">
            <ng-template readviewtemplate let-Item>
              <span>{{Item.Age + 4}}</span>
            </ng-template>
            <ng-template editviewtemplate let-cell="CellInfo">
              <rtextbox [TextBoxHeight]="12" [EnableMarginTextBottom]="false" [TextBoxWidth]="40"
                [(ngModel)]="cell.Value" />
            </ng-template>
          </rcolumn>

        </rgrid>
      </rtab>

      <rtab *tabidfor="{'TabId':'tab30', 'HeaderText':'rselectdropdown', 'Context': this}">
        <div>
          <rselectdropdown [Items]="selectDropdownItems" [IsMulti]="true" [DropDownContentWidth]="'200px'">
            <ng-template optionstemplate let-Item>
              <div>
                <span>{{Item.Value.Id}}</span>
                <span>{{Item.Value.Name}}</span>
                <span>{{Item.Value.Education}}</span>
              </div>
            </ng-template>
          </rselectdropdown>

          <rselectdropdown [EnableFilterOption]="false" [Items]="items" [IsMulti]="true" [(ngModel)]="multiValue" [DropDownContentWidth]="'130px'">
          </rselectdropdown>

          <rselectdropdown [Items]="items1" [IsMulti]="true" [Width]="'100px'" [DropDownContentWidth]="'130px'">
          </rselectdropdown>

          <rselectdropdown [Items]="selectDropdownItems" [DropDownContentWidth]="'200px'">
            <ng-template optionstemplate let-Item>
              <div>
                <span>{{Item.Value.Id}}</span>
                <span>{{Item.Value.Name}}</span>
                <span>{{Item.Value.Education}}</span>
              </div>
            </ng-template>
          </rselectdropdown>

          <rselectdropdown [Items]="items" [DropDownContentWidth]="'130px'"></rselectdropdown>

          <rselectdropdown [Items]="items1" [(ngModel)]="singleValue" [DropDownContentWidth]="'130px'">
          </rselectdropdown>

        </div>
      </rtab>

      <rtab *tabidfor="{'TabId':'tab31', 'HeaderText':'rEventsSchedule', 'Context': this}">        
        <revents-schedule [Width]="'740px'" [ScheduleItems]="scheduleItems"></revents-schedule>
      </rtab>

    </rtabs>
  </div>

  <rstarrating [starWidth]="starWidth"></rstarrating>

  <rstarrating [starWidth]="starWidth" [starColor]="'red'" [(ngModel)]="starValue"></rstarrating> {{starValue}}
  <rstarrating [starWidth]="starWidth" [starColor]="'blue'"></rstarrating>


</div>