<div>

  <div>

    <rstarrating [starWidth]="starWidth"></rstarrating>

    <rstarrating [starWidth]="starWidth" [starColor]="'teal'" [(ngModel)]="starValue"></rstarrating> 
    <rstarrating [starWidth]="starWidth" [starColor]="'#13297A'"></rstarrating>

    {{starValue}}

    <rdropdown [(ngModel)]="multiValue" [IsMulti]="true" [Items]="items" Width="112px" DropDownContentWidth="122px">
    </rdropdown>

    <rdropdown [(ngModel)]="singleValue" [IsMulti]="false" [Items]="items1" Width="112px" DropDownContentWidth="122px">
    </rdropdown>

    <br />
    <br />
    <br />
    <div>
      multi:{{multiValue.length}}
      single: {{singleValue.DisplayValue}}
    </div>

  </div>
  <br />
  <rbutton [ButtonWidth]="'200px'" (ButtonClick)="AddFewItems($event)">Add Few Items to Chart</rbutton>
  <br />

    <rdonutchart style="float: left;" [DataListHeight]="140" [ChartWidth]="150" 
        [ShadowColor]="'blue'"  [MoveTextUpwardsFromCenterInPx]="20"
        [Items]="pieItems" [Opacity]="'0.8'"></rdonutchart>

    <rdonutchart style="float: left" [DataListHeight]="100" [ChartWidth]="300" 
        [ShadowColor]="'blue'" [Items]="pieItems" 
        [Opacity]="'0.8'"></rdonutchart>

    <rdonutchart [DataListHeight]="100" [ChartWidth]="300" [ShadowColor]="'red'" 
        [Items]="pieItems" [Opacity]="'0.8'"></rdonutchart>


  <br />

  <br/>

  <br />

  
  <rpiechart style="float:left" [DataListHeight]="140" [ChartWidth]="150" 
    [MoveTextUpwardsFromCenterInPx]="5" [RotateTextToInlineAngle]="true"    
    [Items]="pieItems1" 
    [Opacity]="'0.8'"></rpiechart>

  <rpiechart style="float: left" [DataListHeight]="100" [ChartWidth]="300" 
    [MoveTextUpwardsFromCenterInPx]="-20"
    [Items]="pieItems1" [Opacity]="'0.8'"></rpiechart>

  <rpiechart [DataListHeight]="100" [ChartWidth]="300" [Items]="pieItems1" 
    [MoveTextUpwardsFromCenterInPx]="-30"
    [ShadowColor]="'red'" [Opacity]="'0.8'"></rpiechart>

  <br/>
  <br/>

  <rbarchart-vertical style="float:left" [Width]="400"
    [XAxisTitle]="'Company profit per year'" [YAxisTitle]="'Profit Percentage'"
    [xAxisItemNames]="barChartXAxisItemNames" [Columns]="barChartItems">
  </rbarchart-vertical>

  <rbarchart-vertical [Width]="400" [xAxisItemNames]="barChartXAxisItemNames1" [Columns]="barChartItems1"></rbarchart-vertical>

  <br/>
  
  <rbarchart-horizontal style="float:left" [Width]="400" [Height]="400" 
          [yAxisItemNames]="barChartXAxisItemNames" [MarginX]="60" 
          [YAxisTitle]="'Company profit per year'" [XAxisTitle]="'Profit Percentage'"
          [Columns]="barChartItems">
  </rbarchart-horizontal>
  
  <rbarchart-horizontal [Width]="400" [Height]="400" [yAxisItemNames]="barChartXAxisItemNames1" 
          [Columns]="barChartItems1">
  </rbarchart-horizontal>

  <br/>
  <br/>

  <rstackedbarchart-vertical [MarginX]="60" [Width]="500" 
      [XAxisTitle]="'Monthly Expenses'" [YAxisTitle]="'Amount Spent'" 
      [xAxisItemNames]="stackedbarChartXAxisItemNames1" [Columns]="stackedbarChartItems1">
  </rstackedbarchart-vertical>

  <br/>
  <rstackedrangebarchart-vertical style="float:left" [MarginX]="60" [Width]="500" 
      [XAxisTitle]="'Monthly Expenses'" [YAxisTitle]="'Amount Spent'" 
      [xAxisItemNames]="stackedrangebarChartXAxisItemNames1" [Columns]="stackedrangebarChartItems1">
  </rstackedrangebarchart-vertical>

  <rstackedrangebarchart-vertical [MarginX]="60" [Width]="500" 
      [XAxisTitle]="'Monthly Expenses'" [YAxisTitle]="'Amount Spent'" 
      [xAxisItemNames]="stackedrangebarChartXAxisItemNames" [Columns]="stackedrangebarChartItems">
  </rstackedrangebarchart-vertical>


  <br/>
  <rcolorpicker [(ngModel)]="color1" [DisplayColorInHex]="true" [IsDisplayLabelText]="true"
    (ColorSelected)="ColorSelected($event)" [LabelText]="'Processed Color : '">
  </rcolorpicker>

  <rcolorpicker [IsDisplayLabelText]="true" (ColorSelected)="ColorSelected($event)" [LabelText]="'Pending Color : '"
    [IsDisplayColorCode]="false"></rcolorpicker>
  <br />
  <br />
  <rtree [ExpandIconColor]="'#13297A'" [Items]="treeItems" (onExpandClicked)="ExpandClicked($event)" (onItemSelected)="OnTreeItemSelected($event)">
  </rtree>
  <br />

  <rbutton [ButtonWidth]="'150px'" [BackgroundColor]="'#13297A'" (ButtonClick)="nextStep()">Move to Next Step
  </rbutton>
  <rbutton [ButtonWidth]="'150px'" [BackgroundColor]="'teal'" (ButtonClick)="prevStep()">Move to Previous Step</rbutton>

  <br />

  <br />
  <br />

  <rstate-vertical #sequ [SelectedActiveIndex]="SeqActiveIndex" [Items]="seqItems" 
    [(ngModel)]="StepperSelectedItem"
    [CompletedBackgroundColor]="'darkblue'"
    [StripLineColor]="'#13297A'"
    [IsDisplayStepNo]="true" 
    [PendingBackgroundColor]="'teal'" 
    [PendingForeColor]="'white'" 
    [ContentWidth]="'140px'"
    (OnActiveValueChanged)="seqValueChanged($event)" 
    [ActiveBackgroundColor]="'#13297A'">
  </rstate-vertical>

  <br />

  <rslider [IsDisplayValue]="true" [BackgroundColor]="'teal'" [ShowDecimalValues]="true" [MinValue]="0" [MaxValue]="1" [(ngModel)]="rangeValue">
  </rslider>
  <br />
  <rslider [SliderWidth]="400" [EnablePathColor]="false" [BackgroundColor]="'#13297A'" [MinValue]="25" [MaxValue]="75">
  </rslider>
  <br />
  <rslider [SliderWidth]="300" [EnablePathColor]="true" [BackgroundColor]="'#13297A'"></rslider>
  <br />

  <rbutton [ButtonWidth]="'150px'" [BackgroundColor]="'#13297A'" (ButtonClick)="nextStepH()">Move to Next Step
  </rbutton>
  <rbutton [ButtonWidth]="'150px'" [BackgroundColor]="'teal'" (ButtonClick)="prevStepH()">Move to Previous Step</rbutton>

  <br />

  <div>
    <rstate-horizontal #sequhorizontal [SelectedActiveIndex]="SeqHorizontalActiveIndex" 
      [ActiveForeColor]="'#13297A'"
      [PendingForeColor]="'teal'"
      [CompletedForeColor]="'darkblue'"
      [Items]="seqHorizontalItems"
      [(ngModel)]="StepperHorizontalSelectedItem" [ContentWidth]="'110px'" [IsDisplayStepNo]="false"
      (OnActiveValueChanged)="seqValueChangedForHorizontal($event)" [StripLineColor]="'#13297A'"></rstate-horizontal>

  </div>
  <div>
    <rstate-horizontal #sequhorizontal [SelectedActiveIndex]="SeqHorizontalActiveIndex" 
      [ActiveForeColor]="'#13297A'"
      [PendingForeColor]="'teal'"
      [CompletedForeColor]="'darkblue'"
      [Items]="seqHorizontalItems"
      [(ngModel)]="StepperHorizontalSelectedItem" [ContentWidth]="'110px'" [IsDisplayStepNo]="true"
      (OnActiveValueChanged)="seqValueChangedForHorizontal($event)" [StripLineColor]="'#13297A'"></rstate-horizontal>

  </div>
  <br />
  <div style="display: flex;">
    <rgroup-panel groupname="Sports Interest" [IsItemsArrangeHorizontal]="false">
      <rcheckbox [LabelColor]="'teal'" [CheckedColor]="'#13297A'" [DisplayText]="'Football'" [(ngModel)]="IsFootball1"></rcheckbox>
      <rcheckbox [DisplayText]="'Volleyball'" [(ngModel)]="IsVolleyball1"></rcheckbox>
      <rcheckbox [DisplayText]="'Tennis'" [(ngModel)]="IsTennis1"></rcheckbox>
    </rgroup-panel>

    <rgroup-panel groupname="Sports Interest" [IsItemsArrangeHorizontal]="true">
      <rcheckbox [DisplayText]="'Football'" [(ngModel)]="IsFootball1"></rcheckbox>
      <rcheckbox [DisplayText]="'Volleyball'" [(ngModel)]="IsVolleyball1"></rcheckbox>
      <rcheckbox [DisplayText]="'Tennis'" [(ngModel)]="IsTennis1"></rcheckbox>
    </rgroup-panel>
  </div>

  <div>
    <br />

  <rfileupload [EnableMaximumHeightForShowFiles]="true" [ShowFilesListMaximumHeight]="'155px'" 
      [ShowFilesAsDropdownContainer]="true" [EnableShadowEffect]="false" [TextForeColor]="'#13297A'" 
      [IconForeColor]="'#13297A'"
      (filesCleared)="filesCleared($event)" (filesSelected)="filesSelected($event)">
  </rfileupload>

  </div>
 
  <br />
 <br />
 <br />
  <div>
    <rtextbox [(ngModel)]="userName" [BottomLineColor]="'#13297A'" [LabelForeColor]="'#13297A'" [PlaceholderText]="'Please enter user name'" [LabelText]="'UserName'"></rtextbox>
    <rtextbox [BottomLineColor]="'#13297A'" [LabelForeColor]="'#13297A'" [LabelText]="'Email'"></rtextbox>
    <rtextbox [BottomLineColor]="'#13297A'" [LabelForeColor]="'#13297A'" [(ngModel)]="userName" [PlaceholderText]="'Please enter name'"></rtextbox>
  </div>

  <br />
  <div>
    <rtextbox [IsPasswordBox]="true" [BottomLineColor]="'#13297A'" [LabelForeColor]="'#13297A'" [(ngModel)]="password" [PlaceholderText]="'Please enter password'"
      [LabelText]="'Password'"></rtextbox>
    <rtextbox [IsPasswordBox]="true" [BottomLineColor]="'#13297A'" [LabelForeColor]="'#13297A'" [(ngModel)]="confirmpassword" [PlaceholderText]="'Please enter confirm password'"
      [LabelText]="'Confirm Password'"></rtextbox>
    <rbutton [BackgroundColor]="'#13297A'">Submit</rbutton>
  </div>
  <br />
  <br />

  <rnumeric [EnableShadowEffect]="true" [PlusBackgroundColor]="'teal'" [MinusBackgroundColor]="'teal'"
    [BottomLineColor]="'teal'" [LabelTextForeColor]="'teal'" [(ngModel)]="rangeValue1"></rnumeric>

  <rnumeric [EnableShadowEffect]="true" [PlusBackgroundColor]="'#13297A'" [MinusBackgroundColor]="'#13297A'"
    [BottomLineColor]="'#13297A'" [LabelTextForeColor]="'#13297A'" [(ngModel)]="rangeValue1"></rnumeric>

  <br />

  <rtimer [FlatStyleForeColor]="'#13297A'" [DisplayTextForeColor]="'#13297A'" [EnableShadowEffect]="false">    
  </rtimer>

  <rtimer [DisplayType]="timerDisplayType" [HoursForeColor]="'#13297A'" [MinuteForeColor]="'#13297A'"
    [SecondsForeColor]="'#13297A'" [DisplayTextForeColor]="'#13297A'" [EnableShadowEffect]="false"
    [CircularWidth]="70">
  </rtimer>

  <br />

  <rtimeselector [ButtonBackgroundColor]="'#13297A'" [TextBottomLineColor]="'#13297A'" 
    [SelectedItemBackgroundColor]="'#13297A'" [(ngModel)]="time1"></rtimeselector>

  <rtimeselector [ButtonBackgroundColor]="'#13297A'" [TextBottomLineColor]="'#13297A'" 
    [SelectedItemBackgroundColor]="'#13297A'" [(ngModel)]="time2"></rtimeselector>

  <br />

  <rtimeselector [ButtonBackgroundColor]="'#13297A'" [LabelText]="'Arriving Time'" 
    [TextBottomLineColor]="'#13297A'" [SelectedItemBackgroundColor]="'#13297A'"
    [(ngModel)]="time3" [Is24HourFormat]="false"
    [SetCurrentTimeAsDefaultOnLoad]="true"></rtimeselector>

  <br />
  <br />

  <br />
  <br />
  
  <div>
    
    <br />
    
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    
    <rbutton (ButtonClick)="populateGridValues()">Add Items</rbutton>
    <br/>
    <br/>
    <revents-schedule [ContainerBackgroundColor]="'#13297A'" 
          [ContainerBorderColor]="'teal'" [EventBorderColor]="'teal'"
          [EventBackgroundColor]="'#13297A'" 
          [ShowMarker]="true" [ShowScrollBar]="false" [DisplayDatesOnLoad]="dates" 
          [SelectedDate]="selectedDate" 
          [ScheduleItems]="scheduleItems"></revents-schedule>
    <br/>
    <div style="float: left;padding-right:30px">
      <rgrid [Items]="gridItems1" (OnItemsChanged)="itemsChangedGridItems1($event)" 
        [HeaderBackgroundColor]="'blue'" [GroupByIconColor]="'blue'"
        [ItemsPerPage]="ItemsPerPage" [TableHeight]="'200px'"></rgrid>
    </div>

    <rgrid [Items]="gridItems" [GroupByIconColor]="'#13297A'" 
            [HeaderBackgroundColor]="'#13297A'" (OnItemsChanged)="itemsChanged($event)" 
            [ItemsPerPage]="ItemsPerPage">

      <rcolumn [Name]="'column1'" [PropToBind]="'Id'" [HeaderText]="'S.No'" [EditModeWidth]="'100px'" [Height]="'20px'">
        <ng-template readviewtemplate let-Item let-cell="CellInfo">
          <span>{{cell.Value}}</span>
        </ng-template>
        <ng-template editviewtemplate let-Item let-rcell="CellInfo">
          <rtextbox [BottomLineColor]="'#13297A'" [TextBoxHeight]="12" [EnableMarginTextBottom]="false" [TextBoxWidth]="40"
            [(ngModel)]="rcell.Value" />
        </ng-template>
      </rcolumn>


      <rcolumn [Name]="'column2'" [PropToBind]="'Name'" [HeaderText]="'First Name'" [EditModeWidth]="'120px'">
        <ng-template readviewtemplate let-Item>
          <span>{{Item.Name}}</span>
        </ng-template>
        <ng-template editviewtemplate let-cell="CellInfo">
          <rtextbox [BottomLineColor]="'#13297A'" [TextBoxHeight]="12" [EnableMarginTextBottom]="false" [TextBoxWidth]="40"
            [(ngModel)]="cell.Value" />
        </ng-template>
      </rcolumn>

      <rcolumn [Name]="'column3'" [PropToBind]="'Age'" [HeaderText]="'Age'" [EditModeWidth]="'130px'">
        <ng-template readviewtemplate let-Item>
          <span>{{Item.Age}}</span>
        </ng-template>
        <ng-template editviewtemplate let-cell="CellInfo">
          <rnumeric [BottomLineColor]="'#13297A'"  
          [MinusBackgroundColor]="'#13297A'" [PlusBackgroundColor]="'#13297A'"
          [(ngModel)]="cell.Value" [LabelText]="''" [TextBoxWidth]="70"></rnumeric>
        </ng-template>
      </rcolumn>

      <rcolumn [Name]="'column4'" [PropToBind]="'Education.Higher.Course'" [HeaderText]="'Degree'"
        [EditModeWidth]="'80px'">
        <ng-template readviewtemplate let-Item>
          <span>{{Item.Education.Higher.Id}}</span> -
          <span>{{Item.Education.Higher.Course}}</span>
        </ng-template>
        <ng-template editviewtemplate let-cell="CellInfo">
          <rtextbox [BottomLineColor]="'#13297A'"  [TextBoxHeight]="12" [EnableMarginTextBottom]="false" [TextBoxWidth]="40"
            [(ngModel)]="cell.Value" />
        </ng-template>
      </rcolumn>

      <rcolumn [Name]="'column5'" [IsComputationalColumn]="true" [HeaderText]="'Pass Age'" [EditModeWidth]="'80px'">
        <ng-template readviewtemplate let-Item>
          <span>{{Item.Age + 4}}</span>
        </ng-template>
        <ng-template editviewtemplate let-cell="CellInfo">
          <rtextbox [BottomLineColor]="'#13297A'"  [TextBoxHeight]="12" [EnableMarginTextBottom]="false" [TextBoxWidth]="40"
            [(ngModel)]="cell.Value" />
        </ng-template>
      </rcolumn>

    </rgrid>
  </div>

  <br />
  <br />
  
  <rswitch [DisplayLabel]="'Change Display Type'" [SwitchBackColor]="'#13297A'" (checked)="changeStepperDisplayType($event)"></rswitch>

  <rswitch [DisplayLabel]="'Show Vertical'" [SwitchBackColor]="'teal'" (checked)="changeShow($event)"></rswitch>

  <br/>
  <br />
  <br />

  <rstepper-horizontal [ContentWidth]="800" [ContentHeight]="530" 
      [HorizontalItemActiveBackColor]="'#13297A'" [HorizontalItemPendingForeColor]="'teal'"
      [HorizontalItemPendingBackColor]="'white'"
      [HorizontalItemStripLineColor]="'#13297A'"
      [ShowStateHorizontal]="showVerticalItems"
      (OnCompletedClick)="StepsCompleted($event)">

    <rstep [Title]="'Dropdown Sample'" [IsStepValid]="true">
      <ng-template rstepview>

        <rselectdropdown [Items]="selectDropdownItems" [IsMulti]="true" [DropDownContentWidth]="'200px'">
          <ng-template optionstemplate let-Item>
            <div>
              <span>{{Item.Value.Id}}</span>
              <span>{{Item.Value.Name}}</span>
              <span>{{Item.Value.Education}}</span>
            </div>
          </ng-template>
        </rselectdropdown>
  
        <rselectdropdown [Items]="items" [IsMulti]="true" [(ngModel)]="multiValue" [DropDownContentWidth]="'130px'">
        </rselectdropdown>
  
        <rselectdropdown [Items]="items1" [IsMulti]="true" [Width]="'100px'" [DropDownContentWidth]="'130px'">
        </rselectdropdown>
  
        <rselectdropdown [Items]="selectDropdownItems" [DropDownContentWidth]="'200px'">
          <ng-template optionstemplate let-Item>
            <div>
              <span>{{Item.Value.Id}}</span>
              <span>{{Item.Value.Name}}</span>
              <span>{{Item.Value.Education}}</span>
            </div>
          </ng-template>
        </rselectdropdown>
  
        <rselectdropdown [Items]="items" [DropDownContentWidth]="'130px'"></rselectdropdown>
  
        <rselectdropdown [Items]="items1" [(ngModel)]="singleValue" [DropDownContentWidth]="'130px'"></rselectdropdown>
  
      </ng-template>
    </rstep>
    <rstep [Title]="'UserInfo'" [IsStepValid]="stepOneValid" [DisplayTextForNextButton]="'Next'" [DisplayTextForBackButton]="'Back'">
      <ng-template rstepview>

        <rgrid [Items]="gridItems1" (OnItemsChanged)="itemsChangedGridItems1($event)" 
          [HeaderBackgroundColor]="'#13297A'"
          [ItemsPerPage]="ItemsPerPage" [TableHeight]="'200px'"></rgrid>
        <br />
        <rbutton [BackgroundColor]="'#13297A'" (ButtonClick)="stepOneSave($event)">
          Save        
        </rbutton>

      </ng-template>
    </rstep>
    <rstep [Title]="'Education Info'" [IsStepValid]="stepTwoValid" 
           [DisplayTextForNextButton]="'Next'" [DisplayTextForBackButton]="'Back'">
      <ng-template rstepview>
        <rgrid [Items]="gridItems1" (OnItemsChanged)="itemsChangedGridItems1($event)" 
          [HeaderBackgroundColor]="'blue'"
          [ItemsPerPage]="ItemsPerPage" [TableHeight]="'200px'"></rgrid>

          <br />
        <rbutton [BackgroundColor]="'orange'" (ButtonClick)="stepTwoSave($event)">
          Save        
        </rbutton>
      </ng-template>
    </rstep>
    <rstep [Title]="'Confirm Info'" [IsStepValid]="stepThreeValid" [DisplayTextForNextButton]="'Next'" [DisplayTextForBackButton]="'Back'">
      <ng-template rstepview>

        <rgrid [Items]="gridItems1" (OnItemsChanged)="itemsChangedGridItems1($event)" 
          [HeaderBackgroundColor]="'blue'"
          [ItemsPerPage]="ItemsPerPage" [TableHeight]="'200px'"></rgrid>
          <br />
        <rbutton [BackgroundColor]="'orange'" (ButtonClick)="stepThreeSave($event)">
          Save        
        </rbutton>

      </ng-template>
    </rstep>

    
    <rstep [Title]="'Dropdown Sample'" [IsStepValid]="true">
      <ng-template rstepview>
        
        <rselectdropdown [Items]="selectDropdownItems" [IsMulti]="true" [DropDownContentWidth]="'200px'">
          <ng-template optionstemplate let-Item>
            <div>
              <span>{{Item.Value.Id}}</span>
              <span>{{Item.Value.Name}}</span>
              <span>{{Item.Value.Education}}</span>
            </div>
          </ng-template>
        </rselectdropdown>
  
        <rselectdropdown [Items]="items" [IsMulti]="true" [(ngModel)]="multiValue" [DropDownContentWidth]="'130px'">
        </rselectdropdown>
  
        <rselectdropdown [Items]="items1" [IsMulti]="true" [Width]="'100px'" [DropDownContentWidth]="'130px'">
        </rselectdropdown>
  
        <rselectdropdown [Items]="selectDropdownItems" [DropDownContentWidth]="'200px'">
          <ng-template optionstemplate let-Item>
            <div>
              <span>{{Item.Value.Id}}</span>
              <span>{{Item.Value.Name}}</span>
              <span>{{Item.Value.Education}}</span>
            </div>
          </ng-template>
        </rselectdropdown>
  
        <rselectdropdown [Items]="items" [DropDownContentWidth]="'130px'"></rselectdropdown>
  
        <rselectdropdown [Items]="items1" [(ngModel)]="singleValue" [DropDownContentWidth]="'130px'"></rselectdropdown>
  
      </ng-template>
    </rstep>

  </rstepper-horizontal>

  <br />
  <br />
  
  <rswitch [DisplayLabel]="'Change Display Type'"  (checked)="changeStepperDisplayType($event)"></rswitch>
  {{stepperDisplayType}}

  <rswitch [DisplayLabel]="'Show Vertical'"  (checked)="changeShow($event)"></rswitch>
  {{showVerticalItems}}

  <br/>
  <br />

  <rstepper-vertical [VerticalItemStripLineColor]="'#13297A'" [VerticalItemActiveBackColor]="'#13297A'"
    [VerticalItemPendingBackColor]="'teal'"
   [ContentWidth]="800" [ContentHeight]="700"  (OnCompletedClick)="StepsCompleted($event)"
   [ShowStateVertical]="showVerticalItems" [(StateVerticalDisplayType)]="stepperDisplayType">

    <rstep [Title]="'Dropdown Sample'" [IsStepValid]="true">
      <ng-template rstepview>

        <rselectdropdown [Items]="selectDropdownItems" [IsMulti]="true" [DropDownContentWidth]="'200px'">
          <ng-template optionstemplate let-Item>
            <div>
              <span>{{Item.Value.Id}}</span>
              <span>{{Item.Value.Name}}</span>
              <span>{{Item.Value.Education}}</span>
            </div>
          </ng-template>
        </rselectdropdown>
  
        <rselectdropdown [Items]="items" [IsMulti]="true" [(ngModel)]="multiValue" [DropDownContentWidth]="'130px'">
        </rselectdropdown>
  
        <rselectdropdown [Items]="items1" [IsMulti]="true" [Width]="'100px'" [DropDownContentWidth]="'130px'">
        </rselectdropdown>
  
        <rselectdropdown [Items]="selectDropdownItems" [DropDownContentWidth]="'200px'">
          <ng-template optionstemplate let-Item>
            <div>
              <span>{{Item.Value.Id}}</span>
              <span>{{Item.Value.Name}}</span>
              <span>{{Item.Value.Education}}</span>
            </div>
          </ng-template>
        </rselectdropdown>
  
        <rselectdropdown [Items]="items" [DropDownContentWidth]="'130px'"></rselectdropdown>
  
        <rselectdropdown [Items]="items1" [(ngModel)]="singleValue" [DropDownContentWidth]="'130px'"></rselectdropdown>
  
      </ng-template>
    </rstep>
    <rstep [Title]="'UserInfo'" [IsStepValid]="stepOneValid" [DisplayTextForNextButton]="'Next'" [DisplayTextForBackButton]="'Back'">
      <ng-template rstepview>

        <rgrid [Items]="gridItems1" (OnItemsChanged)="itemsChangedGridItems1($event)" 
          [HeaderBackgroundColor]="'#13297A'"
          [ItemsPerPage]="ItemsPerPage" [TableHeight]="'200px'"></rgrid>
        <br />
        <rbutton [BackgroundColor]="'#13297A'" (ButtonClick)="stepOneSave($event)">
          Save        
        </rbutton>

      </ng-template>
    </rstep>
    <rstep [Title]="'Education Info'" [IsStepValid]="stepTwoValid" [DisplayTextForNextButton]="'Next'" [DisplayTextForBackButton]="'Back'">
      <ng-template rstepview>
        <rgrid [Items]="gridItems1" (OnItemsChanged)="itemsChangedGridItems1($event)" 
          [HeaderBackgroundColor]="'blue'"
          [ItemsPerPage]="ItemsPerPage" [TableHeight]="'200px'"></rgrid>

          <br />
        <rbutton [BackgroundColor]="'orange'" (ButtonClick)="stepTwoSave($event)">
          Save        
        </rbutton>
      </ng-template>
    </rstep>
    <rstep [Title]="'Confirm Info'" [IsStepValid]="stepThreeValid" [DisplayTextForNextButton]="'Next'" [DisplayTextForBackButton]="'Back'">
      <ng-template rstepview>

        <rgrid [Items]="gridItems1" (OnItemsChanged)="itemsChangedGridItems1($event)" 
          [HeaderBackgroundColor]="'blue'"
          [ItemsPerPage]="ItemsPerPage" [TableHeight]="'200px'"></rgrid>
          <br />
        <rbutton [BackgroundColor]="'orange'" (ButtonClick)="stepThreeSave($event)">
          Save        
        </rbutton>

      </ng-template>
    </rstep>
  </rstepper-vertical>

  <br />
  <div>
    <br />
    <rbutton BackgroundColor="#13297A" [ButtonWidth]="'150px'" ForeColor="white" (ButtonClick)="DeleteTab()">Delete One
      Tab</rbutton>
    <br />
    <div>
      <label>Tab Index</label>
      <input type="text" [(ngModel)]="deltabindex" />
      <rbutton [BackgroundColor]="'teal'" [ButtonWidth]="'150px'" (ButtonClick)="DeleteTabBasedOnIndex()">Delete Tab(index)</rbutton>
    </div>
    <br />
  </div>

  <rbutton (ButtonClick)="AddTab()">Add Tab</rbutton>



  <div cdkDropListGroup>
    <rtabs [TabWidth]="'650px'" [TabHeight]="'350px'" [DisplayTabContainerWhenZeroTabs]="true">

      <rtab *tabidfor="{ 'TabId':'tab1', 'HeaderText':'rcalender', 'Context':this }">
        <rcalender [(ngModel)]="curDate" (onDateSelected)="dateSelected($event)"></rcalender> {{curDate}}
        <rcalender [EnableFilterOptionForMonth]="false" [EnableFilterOptionForYear]="false" 
              [(ngModel)]="dt1" [SelectedItemBackGroundColor]="'blue'"></rcalender> {{dt1}}
        <rcalender></rcalender>
      </rtab>

      <rtab *tabidfor="{ 'TabId':'tab2', 'HeaderText':'rdropdown', 'Context':this }">
        <rdropdown [(ngModel)]="selItem" [IsMulti]="true" [Items]="items" Width="112px" DropDownContentWidth="122px">
        </rdropdown>
        {{selItem.Value}}

        <rdropdown [Items]="items" [(ngModel)]="selItem" DropDownContentWidth="92px">
        </rdropdown>

        <rdropdown [(ngModel)]="singleValue" [IsMulti]="false" [Items]="items1" Width="112px"
          DropDownContentWidth="122px">
        </rdropdown>

        <br />
        <br />
        <div>
          Multiple Values Select Count :{{selItem.length}}
          Single Value : {{singleValue.DisplayValue}}
        </div>

        <rstarrating [starWidth]="starWidth" [starColor]="'orange'" [(ngModel)]="starValue"></rstarrating> {{starValue}}
        <rcalender></rcalender>
      </rtab>

      <rtab *tabidfor="{ 'TabId':'tab3', 'HeaderText':'rstarrating', 'Context':this }">
        <rstarrating [starWidth]="starWidth"></rstarrating>
        <rstarrating [starWidth]="starWidth" [starColor]="'red'" [(ngModel)]="starValue"></rstarrating> {{starValue}}
        <rstarrating [starWidth]="starWidth" [starColor]="'blue'"></rstarrating>
      </rtab>


      <rtab *tabidfor="{ 'TabId':'tab4', 'HeaderText':'rswitch', 'Context':this }">

        <rswitch [DisplayLabel]="'MoveToCenter'"  (checked)="switchChange($event)" [(ngModel)]="isChecked"></rswitch>

        <rswitch [DisplayLabel]="'MoveToCenter Copy'" (checked)="switchChange($event)" [(ngModel)]="isChecked"></rswitch>

        <rswitch [DisplayLabel]="'ChangeToCircle'" (checked)="changeToCircle($event)" [(ngModel)]="IsCircleProgressBar">
        </rswitch>

        <span>Is Circle: {{IsCircleProgressBar}}</span>

        <rswitch [DisplayLabel]="'ChangeToInfinite'" (checked)="changeToInfinite($event)"
          [(ngModel)]="IsInfiniteProgressBar"></rswitch>

      </rtab>

      <rtab *tabidfor="{ 'TabId': 'tab5', 'HeaderText':'rtree', 'Context': this}">
        <rtree [Items]="treeItems" (onExpandClicked)="ExpandClicked($event)"
          (onItemSelected)="OnTreeItemSelected($event)"></rtree>
      </rtab>

      <rtab *tabidfor="{ 'TabId': 'tab6', 'HeaderText':'rcheckbox', 'Context': this}">
        <div style="display: flex;">
          <rgroup-panel groupname="Sports Interest">
            <rcheckbox [DisplayText]="'Football'" [(ngModel)]="IsFootball" [GroupName]="'sports'"></rcheckbox>
            <rcheckbox [DisplayText]="'Volleyball'" [(ngModel)]="IsVolleyball" [GroupName]="'sports'"></rcheckbox>
            <rcheckbox [DisplayText]="'Tennis'" [(ngModel)]="IsTennis" [GroupName]="'sports'"></rcheckbox>
          </rgroup-panel>
        </div>
        <div style="display: flex;vertical-align: middle;">
          <rcheckbox [DisplayText]="'Import'" [(ngModel)]="isChecked"></rcheckbox>
        </div>
      </rtab>

      <rtab *tabidfor="{ 'TabId': 'tab7', 'HeaderText':'rradiobutton', 'Context':this}">
        <div style="display: flex;">
          <rgroup-panel [groupname]="'Sports'" [IsItemsArrangeHorizontal]="true">
            <rradiobutton [Color]="'OrangeRed'" [DisplayText]="'Football'" [(ngModel)]="IsFootball"
              [GroupName]="'sports'"></rradiobutton>
            <rradiobutton [DisplayText]="'Volleyball'" [(ngModel)]="IsVolleyball" [GroupName]="'sports'"></rradiobutton>
            <rradiobutton [Color]="'Blue'" [DisplayText]="'Tennis'" [(ngModel)]="IsTennis" [GroupName]="'sports'">
            </rradiobutton>
          </rgroup-panel>
        </div>
      </rtab>



      <rtab *tabidfor="{ 'TabId': 'tab8', 'HeaderText':'rfileupload', 'Context':this}">
        <div style="display: flex;">
          <rfileupload (filesCleared)="filesCleared($event)" [(ngModel)]="files" [ShowFilesAsDropdownContainer]="true"
            (filesSelected)="filesSelected($event)"></rfileupload>
        </div>
      </rtab>

      <rtab *tabidfor="{ 'TabId': 'tab9', 'HeaderText':'rcolorpicker', 'Context':this}">
        <rcolorpicker [IsDisplayLabelText]="true" (ColorSelected)="ColorSelected($event)"
          [LabelText]="'Processed Color : '"></rcolorpicker>
        <rcolorpicker [(ngModel)]="color1" [IsDisplayLabelText]="true" (ColorSelected)="ColorSelected($event)"
          [LabelText]="'Pending Color : '" [IsDisplayColorCode]="false"></rcolorpicker>
      </rtab>

      <rtab *tabidfor="{ 'TabId': 'tab10', 'HeaderText':'rprogressbar', 'Context':this}">
        <rswitch [DisplayLabel]="'MoveToCenter'" (checked)="switchChange($event)" [(ngModel)]="isChecked"></rswitch>

        <rswitch [DisplayLabel]="'ChangeToCircle'" (checked)="changeToCircle($event)" [(ngModel)]="IsCircleProgressBar">
        </rswitch>

        <rswitch [DisplayLabel]="'ChangeToInfinite'" (checked)="changeToInfinite($event)"
          [(ngModel)]="IsInfiniteProgressBar"></rswitch>

        <rprogressbar [ForeColor]="'blue'" [TrackColor]="'lightgray'" [EnableBackDrop]="false"
          [FloatInCenter]="proincenter" [DisplayType]="progressDisplayType" [StraightLineTrackHeight]="'16px'"
          [ProgressBarWidth]="'150px'" [Percentage]="perc" [CircularLineWidth]="'15px'"
          [FiniteCircularDisplayText]="progressDisplayText" [Type]="progressType">
        </rprogressbar>

        <rbutton [ButtonWidth]="'150px'" (ButtonClick)="ResetProgress()">Reset</rbutton>
      </rtab>


      <rtab *tabidfor="{'TabId':'tab11', 'HeaderText':'rtimer', 'Context': this}">
        <rtimer (ValueChanged)="rtimer_ValueChanged($event)"></rtimer>
        <rtimer [CallbackAfterCertainSeconds]="120"
          (CallbackTriggeredAfterCertainSeconds)="callbackAfterInterval($event)" [DisplayType]="0" [CircularWidth]="70">
        </rtimer>
      </rtab>

      <rtab *tabidfor="{ 'TabId': 'tab12', 'HeaderText':'rtimeselector', 'Context':this}">
        <rtimeselector [(ngModel)]="time1"></rtimeselector>

        <rtimeselector [(ngModel)]="time2"></rtimeselector>

        <rtimeselector [LabelText]="'Arriving Time'" [(ngModel)]="time3" [Is24HourFormat]="false"
          [SetCurrentTimeAsDefaultOnLoad]="true"></rtimeselector> {{time3}}
      </rtab>

      <rtab *tabidfor="{ 'TabId': 'tab13', 'HeaderText':'rstepper vertical', 'Context':this}">

        <rstepper-vertical [ContentWidth]="800" [ContentHeight]="530" (OnCompletedClick)="StepsCompleted($event)">
          <rstep [Title]="'UserInfo'" [IsStepValid]="stepOneValid" [DisplayTextForNextButton]="'Next'" [DisplayTextForBackButton]="'Back'">
            <ng-template rstepview>
      
              <rgrid [Items]="gridItems1" (OnItemsChanged)="itemsChangedGridItems1($event)" 
                [HeaderBackgroundColor]="'blue'"
                [ItemsPerPage]="ItemsPerPage" [TableHeight]="'200px'"></rgrid>
              <br />
              <rbutton [BackgroundColor]="'orange'" (ButtonClick)="stepOneSave($event)">
                Save        
              </rbutton>
      
            </ng-template>
          </rstep>
          <rstep [Title]="'Education Info'" [IsStepValid]="stepTwoValid" [DisplayTextForNextButton]="'Next'" [DisplayTextForBackButton]="'Back'">
            <ng-template rstepview>
              <rgrid [Items]="gridItems1" (OnItemsChanged)="itemsChangedGridItems1($event)" 
                [HeaderBackgroundColor]="'blue'"
                [ItemsPerPage]="ItemsPerPage" [TableHeight]="'200px'"></rgrid>
      
                <br />
              <rbutton [BackgroundColor]="'orange'" (ButtonClick)="stepTwoSave($event)">
                Save        
              </rbutton>
            </ng-template>
          </rstep>
          <rstep [Title]="'Confirm Info'" [IsStepValid]="stepThreeValid" [DisplayTextForNextButton]="'Next'" [DisplayTextForBackButton]="'Back'">
            <ng-template rstepview>
      
              <rgrid [Items]="gridItems1" (OnItemsChanged)="itemsChangedGridItems1($event)" 
                [HeaderBackgroundColor]="'blue'"
                [ItemsPerPage]="ItemsPerPage" [TableHeight]="'200px'"></rgrid>
                <br />
              <rbutton [BackgroundColor]="'orange'" (ButtonClick)="stepThreeSave($event)">
                Save        
              </rbutton>
      
            </ng-template>
          </rstep>
        </rstepper-vertical>
      
      </rtab>

      <rtab *tabidfor="{ 'TabId': 'tab14', 'HeaderText':'rstepper horizontal', 'Context':this}">
          
        <rstepper-horizontal [ContentWidth]="800" [ContentHeight]="530"  
        (OnCompletedClick)="StepsCompleted($event)">
          <rstep [Title]="'UserInfo'" [IsStepValid]="stepOneValid" [DisplayTextForNextButton]="'Next'" [DisplayTextForBackButton]="'Back'">
            <ng-template rstepview>

              <rgrid [Items]="gridItems1" (OnItemsChanged)="itemsChangedGridItems1($event)" 
                [HeaderBackgroundColor]="'blue'"
                [ItemsPerPage]="ItemsPerPage" [TableHeight]="'200px'"></rgrid>
              <br />
              <rbutton [BackgroundColor]="'orange'" (ButtonClick)="stepOneSave($event)">
                Save        
              </rbutton>

            </ng-template>
          </rstep>
          <rstep [Title]="'Education Info'" [IsStepValid]="stepTwoValid" [DisplayTextForNextButton]="'Next'" [DisplayTextForBackButton]="'Back'">
            <ng-template rstepview>
              <rgrid [Items]="gridItems1" (OnItemsChanged)="itemsChangedGridItems1($event)" 
                [HeaderBackgroundColor]="'blue'"
                [ItemsPerPage]="ItemsPerPage" [TableHeight]="'200px'"></rgrid>

                <br />
              <rbutton [BackgroundColor]="'orange'" (ButtonClick)="stepTwoSave($event)">
                Save        
              </rbutton>
            </ng-template>
          </rstep>
          <rstep [Title]="'Confirm Info'" [IsStepValid]="stepThreeValid" [DisplayTextForNextButton]="'Next'" [DisplayTextForBackButton]="'Back'">
            <ng-template rstepview>

              <rgrid [Items]="gridItems1" (OnItemsChanged)="itemsChangedGridItems1($event)" 
                [HeaderBackgroundColor]="'blue'"
                [ItemsPerPage]="ItemsPerPage" [TableHeight]="'200px'"></rgrid>
                <br />
              <rbutton [BackgroundColor]="'orange'" (ButtonClick)="stepThreeSave($event)">
                Save        
              </rbutton>

            </ng-template>
          </rstep>
        </rstepper-horizontal>

      </rtab>
      
      <rtab  *tabidfor="{'TabId':'tab15', 'HeaderText':'StackedBarChart Vertical', 'Context': this}">
        
        <rstackedbarchart-vertical [MarginX]="60" [Width]="500" 
          [XAxisTitle]="'Monthly Expenses'" [YAxisTitle]="'Amount Spent'" 
          [xAxisItemNames]="stackedbarChartXAxisItemNames1" [Columns]="stackedbarChartItems1">
        </rstackedbarchart-vertical>

      </rtab>

      <rtab  *tabidfor="{'TabId':'tab16', 'HeaderText':'StackedRangeBarChart Vertical', 'Context': this}">
          
          <rstackedrangebarchart-vertical [MarginX]="60" [Width]="500" 
            [XAxisTitle]="'Monthly Expenses'" [YAxisTitle]="'Amount Spent'" 
            [xAxisItemNames]="stackedrangebarChartXAxisItemNames1" [Columns]="stackedrangebarChartItems1">
          </rstackedrangebarchart-vertical>

      </rtab>

    </rtabs>

    <rtabs #tabCom1 [TabWidth]="'650px'" [TabHeight]="'350px'" [DisplayTabContainerWhenZeroTabs]="true">

      <rtab *tabidfor="{ 'TabId':'tab20', 'HeaderText':'rslider', 'Context':this }">


        <rslider [IsDisplayValue]="true" [ShowDecimalValues]="true" [MinValue]="0" [MaxValue]="1"
          [(ngModel)]="rangeValue"></rslider>
        <br />
        <rslider [SliderWidth]="400" [EnablePathColor]="false" [BackgroundColor]="'Red'" [MinValue]="25"
          [MaxValue]="75"></rslider>
        <br />
        <rslider [(ngModel)]="rangeValue1" [SliderWidth]="300" [EnablePathColor]="true" [BackgroundColor]="'Orange'">
        </rslider>
        <br />


      </rtab>

      <rtab *tabidfor="{ 'TabId':'tab21', 'HeaderText':'rstate-vertical', 'Context':this }">
        <rbutton [ButtonWidth]="'150px'" type="submit" (ButtonClick)="nextStep()" BackgroundColor="orangered">Move to
          Next Step</rbutton>
        <rbutton [ButtonWidth]="'150px'" (ButtonClick)="prevStep()">Move to Previous Step</rbutton>
        <br />
        <br />
        <br />
        <rstate-vertical #sequ [SelectedActiveIndex]="SeqActiveIndex" [Items]="seqItems"
          [(ngModel)]="StepperSelectedItem" (OnActiveValueChanged)="seqValueChanged($event)"
          [PendingBackgroundColor]="'orangered'" [PendingForeColor]="'white'"
          [ActiveBackgroundColor]="'blue'"></rstate-vertical>

        <br />


        <rstate-vertical #sequ [SelectedActiveIndex]="SeqActiveIndex" [Items]="seqItems"
          [(ngModel)]="StepperSelectedItem" [IsDisplayStepNo]="false" (OnActiveValueChanged)="seqValueChanged($event)"
          [ActiveBackgroundColor]="'blue'"></rstate-vertical>

        <br />
      </rtab>

      <rtab *tabidfor="{ 'TabId':'tab22', 'HeaderText':'rstate-horizontal', 'Context':this }">

        <rbutton [ButtonWidth]="'150px'" [BackgroundColor]="'OrangeRed'" (ButtonClick)="nextStepH()">Move to Next Step
        </rbutton>
        <rbutton [ButtonWidth]="'150px'" (ButtonClick)="prevStepH()">Move to Previous Step</rbutton>
        <br />

        <div>
          <rstate-horizontal #sequhorizontal [SelectedActiveIndex]="SeqHorizontalActiveIndex"
            [Items]="seqHorizontalItems" [(ngModel)]="StepperHorizontalSelectedItem" [ContentWidth]="'110px'"
            [IsDisplayStepNo]="false" [CompletedForeColor]="'red'"
            (OnActiveValueChanged)="seqValueChangedForHorizontal($event)" [StripLineColor]="'blue'"></rstate-horizontal>

        </div>
        <div>
          <rstate-horizontal #sequhorizontal [SelectedActiveIndex]="SeqHorizontalActiveIndex"
            [Items]="seqHorizontalItems" [(ngModel)]="StepperHorizontalSelectedItem" [ContentWidth]="'110px'"
            [IsDisplayStepNo]="true" (OnActiveValueChanged)="seqValueChangedForHorizontal($event)"
            [StripLineColor]="'blue'"></rstate-horizontal>

        </div>
        <br />

      </rtab>

      <rtab *tabidfor="{ 'TabId':'tab23', 'HeaderText':'rbutton', 'Context':this }">
        <rbutton [ButtonWidth]="'150px'" [BackgroundColor]="'OrangeRed'" (ButtonClick)="nextStepH()">Move to Next Step
        </rbutton>
        <rbutton [ButtonWidth]="'150px'" (ButtonClick)="prevStepH()">Move to Previous Step</rbutton>
      </rtab>


      <rtab *tabidfor="{ 'TabId':'tab24', 'HeaderText':'rgroup-panel', 'Context':this }">

        <div style="display: flex;">
          <rgroup-panel groupname="Sports Interest" [IsItemsArrangeHorizontal]="true">
            <rcheckbox [DisplayText]="'Football'" [(ngModel)]="IsFootball1"></rcheckbox>
            <rcheckbox [DisplayText]="'Volleyball'" [(ngModel)]="IsVolleyball1"></rcheckbox>
            <rcheckbox [DisplayText]="'Tennis'" [(ngModel)]="IsTennis1"></rcheckbox>
          </rgroup-panel>
        </div>

      </rtab>

      <rtab *tabidfor="{ 'TabId':'tab25', 'HeaderText':'rtextbox', 'Context':this }">

        <div>
          <rtextbox [(ngModel)]="userName" [PlaceholderText]="'Please enter user name'" [LabelText]="'UserName'">
          </rtextbox>
          <rtextbox [LabelText]="'Email'"></rtextbox>
          <rtextbox [(ngModel)]="userName" [PlaceholderText]="'Please enter name'"></rtextbox>
        </div>

      </rtab>


      <rtab *tabidfor="{ 'TabId':'tab27', 'HeaderText':'rtextbox password', 'Context':this }">

        <div>
          <rtextbox [IsPasswordBox]="true" [(ngModel)]="password" [PlaceholderText]="'Please enter password'"
            [LabelText]="'Password'"></rtextbox>
          <rtextbox [IsPasswordBox]="true" [(ngModel)]="confirmpassword"
            [PlaceholderText]="'Please enter confirm password'" [LabelText]="'Confirm Password'"></rtextbox>
          <rbutton>Submit</rbutton>
        </div>

      </rtab>

      <rtab *tabidfor="{'TabId':'tab28', 'HeaderText':'Numeric', 'Context': this}">
        <rnumeric [(ngModel)]="rangeValue1"></rnumeric>

        <rnumeric [PlusBackgroundColor]="'Orange'" [MinusBackgroundColor]="'orangered'" [BottomLineColor]="'orangered'"
          [LabelTextForeColor]="'orangered'" [EnableShadowEffect]="true" [(ngModel)]="rangeValue1"></rnumeric>
        <br />
      </rtab>

      <rtab *tabidfor="{'TabId':'tab29', 'HeaderText':'rgrid', 'Context': this}">
        <div style="float: left;padding-right:30px">
          <rgrid [Items]="gridItems1" (OnItemsChanged)="itemsChangedGridItems1($event)" 
                  [TableHeight]="'200px'" [ItemsPerPage]="ItemsPerPage"></rgrid>
        </div>

        <rgrid [Items]="gridItems" (OnItemsChanged)="itemsChanged($event)" [ItemsPerPage]="ItemsPerPage">

          <rcolumn [Name]="'column1'" [PropToBind]="'Id'" [HeaderText]="'S.No'" [EditModeWidth]="'100px'"
            [Height]="'20px'">
            <ng-template readviewtemplate let-Item let-cell="CellInfo">
              <span>{{cell.Value}}</span>
            </ng-template>
            <ng-template editviewtemplate let-Item let-rcell="CellInfo">
              <rtextbox [TextBoxHeight]="12" [EnableMarginTextBottom]="false" [TextBoxWidth]="40"
                [(ngModel)]="rcell.Value" />
            </ng-template>
          </rcolumn>


          <rcolumn [Name]="'column2'" [PropToBind]="'Name'" [HeaderText]="'First Name'" [EditModeWidth]="'120px'">
            <ng-template readviewtemplate let-Item>
              <span>{{Item.Name}}</span>
            </ng-template>
            <ng-template editviewtemplate let-cell="CellInfo">
              <rtextbox [TextBoxHeight]="12" [EnableMarginTextBottom]="false" [TextBoxWidth]="40"
                [(ngModel)]="cell.Value" />
            </ng-template>
          </rcolumn>

          <rcolumn [Name]="'column3'" [PropToBind]="'Age'" [HeaderText]="'Age'" [EditModeWidth]="'130px'">
            <ng-template readviewtemplate let-Item>
              <span>{{Item.Age}}</span>
            </ng-template>
            <ng-template editviewtemplate let-cell="CellInfo">
              <rnumeric [(ngModel)]="cell.Value" [LabelText]="''" [TextBoxWidth]="70"></rnumeric>
            </ng-template>
          </rcolumn>

          <rcolumn [Name]="'column4'" [PropToBind]="'Education.Higher.Course'" [HeaderText]="'Degree'"
            [EditModeWidth]="'80px'">
            <ng-template readviewtemplate let-Item>
              <span>{{Item.Education.Higher.Id}}</span> -
              <span>{{Item.Education.Higher.Course}}</span>
            </ng-template>
            <ng-template editviewtemplate let-cell="CellInfo">
              <rtextbox [TextBoxHeight]="12" [EnableMarginTextBottom]="false" [TextBoxWidth]="40"
                [(ngModel)]="cell.Value" />
            </ng-template>
          </rcolumn>

          <rcolumn [Name]="'column5'" [IsComputationalColumn]="true" [HeaderText]="'Pass Age'" [EditModeWidth]="'80px'">
            <ng-template readviewtemplate let-Item>
              <span>{{Item.Age + 4}}</span>
            </ng-template>
            <ng-template editviewtemplate let-cell="CellInfo">
              <rtextbox [TextBoxHeight]="12" [EnableMarginTextBottom]="false" [TextBoxWidth]="40"
                [(ngModel)]="cell.Value" />
            </ng-template>
          </rcolumn>

        </rgrid>
      </rtab>

      <rtab *tabidfor="{'TabId':'tab30', 'HeaderText':'rselectdropdown', 'Context': this}">
        <div>
          <rselectdropdown [Items]="selectDropdownItems" [IsMulti]="true" [DropDownContentWidth]="'200px'">
            <ng-template optionstemplate let-Item>
              <div>
                <span>{{Item.Value.Id}}</span>
                <span>{{Item.Value.Name}}</span>
                <span>{{Item.Value.Education}}</span>
              </div>
            </ng-template>
          </rselectdropdown>

          <rselectdropdown [EnableFilterOption]="false" [Items]="items" [IsMulti]="true" [(ngModel)]="multiValue" [DropDownContentWidth]="'130px'">
          </rselectdropdown>

          <rselectdropdown [Items]="items1" [IsMulti]="true" [Width]="'100px'" [DropDownContentWidth]="'130px'">
          </rselectdropdown>

          <rselectdropdown [Items]="selectDropdownItems" [DropDownContentWidth]="'200px'">
            <ng-template optionstemplate let-Item>
              <div>
                <span>{{Item.Value.Id}}</span>
                <span>{{Item.Value.Name}}</span>
                <span>{{Item.Value.Education}}</span>
              </div>
            </ng-template>
          </rselectdropdown>

          <rselectdropdown [Items]="items" [DropDownContentWidth]="'130px'"></rselectdropdown>

          <rselectdropdown [Items]="items1" [(ngModel)]="singleValue" [DropDownContentWidth]="'130px'">
          </rselectdropdown>

        </div>
      </rtab>

      <rtab *tabidfor="{'TabId':'tab31', 'HeaderText':'rEventsSchedule', 'Context': this}">        
        <revents-schedule [Width]="'740px'" [ScheduleItems]="scheduleItems"></revents-schedule>
      </rtab>

      <rtab *tabidfor="{'TabId':'tab32', 'HeaderText':'rdonutchart', 'Context': this}">
        <br />
          
          <rdonutchart style="float: left;" [DataListHeight]="140" [ChartWidth]="150" 
              [ShadowColor]="'blue'"  [MoveTextUpwardsFromCenterInPx]="20"
              [Items]="pieItems" [Opacity]="'0.8'"></rdonutchart>

          <rdonutchart style="float: left" [DataListHeight]="100" [ChartWidth]="300" 
              [ShadowColor]="'blue'" [Items]="pieItems" 
              [Opacity]="'0.8'"></rdonutchart>

          <rdonutchart [DataListHeight]="100" [ChartWidth]="300" [ShadowColor]="'red'" 
              [Items]="pieItems" [Opacity]="'0.8'"></rdonutchart>

        <br />
      </rtab>

      <rtab  *tabidfor="{'TabId':'tab33', 'HeaderText':'rpiechart', 'Context': this}">

        <br />
  
        <rpiechart style="float:left" [DataListHeight]="140" [ChartWidth]="150" 
          [MoveTextUpwardsFromCenterInPx]="5" [RotateTextToInlineAngle]="true"    
          [Items]="pieItems1" 
          [Opacity]="'0.8'"></rpiechart>
      
      <rpiechart style="float: left" [DataListHeight]="100" [ChartWidth]="300" 
          [MoveTextUpwardsFromCenterInPx]="-20"
          [Items]="pieItems1" [Opacity]="'0.8'"></rpiechart>
    
      <rpiechart [DataListHeight]="100" [ChartWidth]="300" [Items]="pieItems1" 
          [MoveTextUpwardsFromCenterInPx]="-30"
          [ShadowColor]="'red'" [Opacity]="'0.8'"></rpiechart>
        
      </rtab>

      <rtab  *tabidfor="{'TabId':'tab34', 'HeaderText':'BarChart Vertical', 'Context': this}">
        <br/>

        <rbarchart-vertical style="float:left" [Width]="400"
          [XAxisTitle]="'Company profit per year'" [YAxisTitle]="'Profit Percentage'"
          [xAxisItemNames]="barChartXAxisItemNames" [Columns]="barChartItems">
        </rbarchart-vertical>
      
        <rbarchart-vertical [Width]="400" [xAxisItemNames]="barChartXAxisItemNames1" 
          [Columns]="barChartItems1"></rbarchart-vertical>
      
        <br/>      
      </rtab>

      
      <rtab  *tabidfor="{'TabId':'tab35', 'HeaderText':'BarChart Horizontal', 'Context': this}">
          <br/>
          
          <rbarchart-horizontal style="float:left" [Width]="400" [Height]="400" 
                  [yAxisItemNames]="barChartXAxisItemNames" [MarginX]="60" 
                  [YAxisTitle]="'Company profit per year'" [XAxisTitle]="'Profit Percentage'"
                  [Columns]="barChartItems">
          </rbarchart-horizontal>
          
          <rbarchart-horizontal [Width]="400" [Height]="400" [yAxisItemNames]="barChartXAxisItemNames1" 
                  [Columns]="barChartItems1">
          </rbarchart-horizontal>
      </rtab>
      
    </rtabs>
  </div>

  <rstarrating [starWidth]="starWidth"></rstarrating>

  <rstarrating [starWidth]="starWidth" [starColor]="'red'" [(ngModel)]="starValue"></rstarrating> {{starValue}}
  <rstarrating [starWidth]="starWidth" [starColor]="'blue'"></rstarrating>


</div>