

<div class="rtabroot">

<div class="tabheaderContainer" [style.width]="TabWidth" *ngIf="tabs && tabs.length > 0">
  <ng-container *ngFor="let header of TabHeaders">
    <button id="rtabheader_{{header.TabId}}" class="tabheader" 
            (click)="HeaderClicked(header)"
            [ngClass]="{ tabSelected: header.IsSelected}">            
      <div [innerHTML]="header.headerText">
        
      </div>                                           
    </button>
  </ng-container>
</div>

 
<ng-container>
  <div class="tabcontent" *ngIf="tabs && tabs.length > 0" [style.width]="TabWidth" [style.height]="TabHeight">
    <ng-content></ng-content>
  </div>
</ng-container>  

</div>
