

<div class="rtabroot">

<div cdkDropList cdkDropListOrientation="horizontal"
     
     [cdkDropListData]="TabHeaders" (cdkDropListDropped)="drop($event)" 
     class="tabheaderContainer" [style.width]="TabWidth" *ngIf="tabTemps && tabTemps.length > 0">
  <ng-container>
    <button id="rtabheader_{{header.TabId}}" class="tabheader" 
            *ngFor="let header of TabHeaders; trackBy:trackByHeader" 
            cdkDrag (cdkDragEnded)="dragEnded($event)" 
            (cdkDragStarted)="dragStarted($event)"
            [cdkDragData]="header"            
            (click)="HeaderClicked(header)" 
            [ngClass]="{ tabSelected: header.IsSelected}">            
      <div [innerHTML]="header.headerText">
        
      </div>                                           
    </button>
  </ng-container>
</div>

 
<ng-container>
  <div class="tabcontent" 
    *ngIf="contentVisible && SelectedTabTemplateRef && SelectedTabTemplateRef.templateRef!=undefined"
    [style.width]="TabWidth" [style.height]="TabHeight"> 
    
    <div  id="rtabcontent_{{SelectedTabTemplateRef.tabidfor}}" class="tab active">      
      <ng-container #tempVcr *ngTemplateOutlet="SelectedTabTemplateRef.templateRef; context:tabInstance" ></ng-container>
    </div>
  </div>

</ng-container>  

</div>
