
:host{

  display: inline-block;
  vertical-align: top;
}

.btn{   
    cursor: pointer;    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    opacity: 1;
}

.btn:hover {
    opacity: 0.6;
}

.btn:disabled, .btn[disabled] {
  opacity: 0.5;
  cursor:default;
}
::-webkit-scrollbar {
    width: 0.4em;;
    height: 0.4em;;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #bdbbbb;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #5e5e5e;
    border-radius: 10px;
  } 
