


.txtbox {
    width:200px;
    height: 30px;
    background: white;
    cursor: pointer;
    border: none;
    border-bottom-width: 2px;
    border-bottom-style: solid;    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    outline: none;
    align-content: center;
    align-items: center;
    text-align: left;
    vertical-align: middle;
    position: relative;
    padding: 4px;
    padding-left: 7px;
    padding-right: 7px;
}

.txtbox:focus::placeholder {
    color:transparent;  
}

.txtbox:focus{
    border-bottom: 2px solid lightblue;
}

.span {
    position: relative;
    top: -5px;
    /* color: blue; */
    width:200px;
}

:host{
    display: flex;
    width: fit-content;
    margin-top:8px;
    margin-bottom: 8px;
}

.txtroot{
    cursor: pointer;
    display: flex; 
    width: fit-content;
    flex-direction: column; 
    margin-top: 10px;
    margin-bottom: 10px;
}

::-webkit-scrollbar {
    width: 0.4em;;
    height: 0.4em;;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #bdbbbb;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #5e5e5e;
    border-radius: 10px;
  } 
