


<div [id]="Id" class="txtroot">
    <span class="span" [ngStyle]="{ 'width': TextBoxWidth+'px', 'color': LabelForeColor}"> 
        {{LabelText}} 
    </span>
    
    
    <!-- <p #para contenteditable="true" onkeypress="return event.keyCode != 13;"  
        class="txtbox" 
        (click)="txtboxClicked($event)"
        [ngStyle]="{'width': TextBoxWidth+'px','border-bottom': '2px solid {{BottomLineColor}};'}">

    </p> -->

    <input [readOnly]="IsReadOnly" type="text" 
            [type]="IsPasswordBox ? 'password' : 'text'" 
            [(ngModel)]="TextboxValue" class="txtbox" 
       
       [ngStyle]="{ 'height': TextBoxHeight+'px', 
            'width': TextBoxWidth+'px','border-bottom-color': BottomLineColor,       
            'margin-bottom': EnableMarginTextBottom ? MarginTextBottom+'px' : ''
       }"

       [placeholder]="PlaceholderText" 
       (click)="txtboxClicked($event)">     

</div>