.starclass{
    color: red;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}

.starclass::before{
    content: '★';
}

.staroutline{
    color: red;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}

.staroutline::before {
    content: '☆';
}

.starcontrol{
    overflow: hidden;
    display: inline-block;
}

.staroutlinecontainer {
    position: relative; /* base layer */
    display: inline-block;
    z-index: 1;
}

.starcontainer{
    overflow: hidden;
    position: absolute; /* filled layer, clipped to rating */
    left: 0;
    top: 0;
    z-index: 2;
    display: block;
}

:host {
    display: inline-block;
    width: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    position: relative;
    z-index: 0;
  vertical-align: top;
}
::-webkit-scrollbar {
    width: 0.4em;;
    height: 0.4em;;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #bdbbbb;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #5e5e5e;
    border-radius: 10px;
  } 
