.starclass{    
    color: red;    
    display: inline;    
    overflow: hidden;
    cursor: pointer;
}

.starclass::before{
    content: '★';
}

.staroutline{
    color: red;    
    display: inline;    
    overflow: hidden;
    cursor: pointer;
}

.staroutline::before {
    content: '☆';
}

.starcontrol{
    overflow: hidden;
    display: inline-block;
}

.starcontainer{
    overflow: hidden;
    display: none;
}

.staroutlinecontainer {
    position: absolute; /* relative */
    display: none;    
}

:host {
    display: flex;
    width: fit-content;
    margin-top: 2px; 
    margin-bottom: 2px;
    position: relative; /* removed */
    
}

::-webkit-scrollbar {
    width: 0.4em;;
    height: 0.4em;;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #bdbbbb;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #5e5e5e;
    border-radius: 10px;
  } 
