.starclass{    
    color: red;    
    display: inline;    
    overflow: hidden;
}

.starclass::before{
    content: '★';
}

.staroutline{
    color: red;    
    display: inline;    
    overflow: hidden;
}

.staroutline::before {
    content: '☆';
}

.starcontrol{
    overflow: hidden;
    display: inline-block;
}

.starcontainer{
    overflow: hidden;
    display: none;
}

.staroutlinecontainer {
    position: relative;
    display: none;    
}