<div [id]="Id">
    <div #starcontainer class="starcontainer">
        <div #starcontrol class="starcontrol">
            <div #star *ngFor="let item of Items" 
                (click)="selected(item)"    
            [style.color]="starColor" 
                [style.width]="starWidth+'px'" 
                [style.fontSize]="starWidth+'px'" 
                class="starclass">
            </div>       
        </div>
    </div>
    <div #staroutlinecontainer class="staroutlinecontainer" [style.width]="getMainContainerWidth()+'px'">
        <div #staroutlinecontrol class="starcontrol">            
            <div *ngFor="let item of Items" (click)="selected(item)"
                [style.color]="starColor" 
                [style.width]="starWidth+'px'"  
                [style.fontSize]="starWidth+'px'" 
                #staroutline class="staroutline">
            </div>          
        </div>
    </div>
</div>