


:host{
    width: fit-content;    
    margin-top: 15px;
    margin-bottom: 15px;
    
  display: inline-block;
  vertical-align: top;
}

::-webkit-scrollbar {
    width: 0.4em;;
    height: 0.4em;;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #bdbbbb;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #5e5e5e;
    border-radius: 10px;
  } 
