

<div style="width: fit-content;">
    <rsequence-horizontal style="float: left;" *ngFor="let item of Items;" [Item]="item"
     [ActiveForeColor]="ActiveForeColor"
     [CompletedForeColor]="CompletedForeColor"
     [PendingForeColor]="PendingForeColor"
     [EnableEmptyItemOnTopSide]="!_allItemsAreInBottom"
     [StripLineColor]="StripLineColor" [StepNo]= "item.StepNo"
     [IsDisplayStepNo]="IsDisplayStepNo" 
     [StepNoForeColor]="ApplyItemForeColorToStepNo ? item.IsCompleted ? CompletedForeColor : 
                            item.IsActive ? ActiveForeColor : PendingForeColor : 
                        StepNoForeColor"     
     [ContentWidth]="ContentWidth +'px'"></rsequence-horizontal>    
</div>
