.groupheader {
  width: 100%;
  margin-bottom: 2px;
  margin-top: 2px;
  height: 45px;  
  background-color: white;
  border-top: 1px solid lightgray;
  overflow: hidden;  
}

.grpheaderItem{
  margin-left: 5px;
  margin-right:5px;
  /* background-color: rgb(35, 206, 236); */
  /* color: white; */
  height: 15px;
  /* width:70px; */
  font-size: small;
  text-align: center;
  vertical-align: middle;  
  align-content: center;
  padding:3px 5px 8px 5px;
  margin-bottom: 5px;
  margin-top:8px;
  cursor: pointer;
}

.rbtn{
  width: 20px;
  height: 20px;  
  /* background-color: red;
  color: white; */
  position: relative;
  top: 0px;
  right: -2px;
  cursor: pointer;
  float: right;
}

.preview {
  width: fit-content;
  padding: 8px;
  text-align: center;
  background-color: orange;
  color: white;
}

.defaultEditview {
  border: none;
  outline: none;
  margin-left:-4px; 
  border-bottom: 2px solid blue;
}

.defaultEditview:hover, .defaultEditview:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid blue;
}

.srt {
  padding-left: 15px;
  padding-right: 2px;
  float: inline-start;
}

/* 
.headerbox {
  box-sizing:content-box;
} */

.header {    
    padding-top: 10px;    
    cursor: pointer;
    /* background-color: rgb(35, 206, 236);
    color: white; */
    font-size: small;
    font-weight: 700;
    padding-bottom: 10px;
    vertical-align: bottom;    
    padding-left: 8px;
    padding-right: 8px;    
}


.symbol {
  cursor: pointer;
 -webkit-user-select: none; 
 -moz-user-select: none; 
 -ms-user-select: none; 
 user-select: none;
}

.symbol::before {
 content: "\25B6";
 color: var(--groupbyiconcolor);
 display: inline-block;
 margin-right: 8px;
}

.symbol-down::before {
 -ms-transform: rotate(90deg); 
 -webkit-transform: rotate(90deg); 
 transform: rotate(90deg);  
}


.tbl{     
    table-layout:fixed;  
    border-collapse: collapse;      
    border-spacing: 0;
    white-space: nowrap;
    /* width: max-content;     */
    height: 100%;    
}

.root{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
}

thead tr {
     display: block;      
}

tbody {
     display: block;         
    background: white;
}

tfoot {
  background: white;
}

thead {
  position: sticky;
  top:0;
  z-index: 2;
}

table td, table th {
  overflow-wrap: anywhere;
}

th {
    position: sticky;
    top: 0;  
    z-index: 2;  
}

tbody tr{
    background-color: white;
    color: rgb(175, 169, 169);
    font-size: small;    
    text-align: left;
    display: block;  
}

tbody tr td{
    padding-left: 8px;
    padding-top:7px;
    padding-bottom: 7px;
    padding-right: 8px;
}

:host{
    display: flex;
    width: fit-content;
    margin-top: 3px; 
    margin-bottom: 3px;      
}

::-webkit-scrollbar {
    width: 0.4em;;
    height: 0.4em;;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #bdbbbb;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #5e5e5e;
    border-radius: 10px;
  } 

  .atagedit{
    cursor: pointer;
  }

  .page {
    width: 100%;
    background-color: white;
    height: 30px;    
    padding-bottom: 16px;   
  }

  .pageItem {
    padding:10px;
    float: left;
    vertical-align: middle;
    cursor: pointer;
    margin-top: 1px;
    font-size: large;
  }

  
  .pageItemSmallFont {
    padding:10px;
    float: left;
    vertical-align: middle;
    cursor: pointer;
    margin-top: 5px;
  }

  .pageItemDropdown {
    padding:10px;
    float: left;
    vertical-align: middle;
    cursor: pointer;    
  }

  