<div class="display: flex;" class="root" [id]="Id" cdkDropListGroup *ngIf="Headers.length > 0">
    <div *ngIf="ShowGroupHeader" class="groupheader" style="display: flex;" cdkDropList [cdkDropListData]="Headers"
        cdkDropListOrientation="horizontal" (cdkDropListDropped)="groupDrop($event)">
        <div class="grpheaderItem" *ngFor="let grpheader of GroupHeaders" 
            [ngStyle]="{ 'width': grpheader.Width,
                'background-color':HeaderBackgroundColor, 'color': HeaderForeColor
            }">
            {{grpheader.HeaderText}}
            <span (click)="removeFromGroup(grpheader)" [ngStyle]="{'color': HeaderForeColor}" class="rbtn">&#10006;</span>
        </div>
    </div>
    <table class="tbl" [ngStyle]="{'width': TableWidth }">
        <thead>
            <tr  [ngStyle]="{'background-color':HeaderBackgroundColor, 'color': HeaderForeColor}"
                 cdkDropList [cdkDropListData]="Headers" cdkDropListOrientation="horizontal"
                (cdkDropListDropped)="draggeddropForPopup($event)">

                <ng-container *ngIf="!ColumnsNotDefined">
                    <td [ngStyle]="{ 'padding-left': '7px', 
                        'width': EditModeEnabled ? header.EditModeWidth : header.EditModeWidth, 
                        'height':'20px'} " class="header headerbox" cdkDrag
                        (cdkDragStarted)="dragStartedForPopup($event)" [cdkDragData]="header"
                        (cdkDragStarted)="headerDragStart($event)" (cdkDragEnded)="headerDragEnd($event)"
                        *ngFor="let header of Headers">

                        <span style="float: left;">
                            {{header.HeaderText}}
                        </span>                                                

                        <span (click)="sortColumn(header)"  *ngIf="!header.IsComputationColumn && header.sortType==-1" class="srt">&#8593;</span>
                        <span (click)="sortColumn(header)"  *ngIf="!header.IsComputationColumn && header.sortType==1" class="srt">&#8595;</span>
                        <span (click)="sortColumn(header)"  *ngIf="!header.IsComputationColumn && header.sortType==undefined" class="srt">&#8597;</span>
                        
                        <rfilter [DateFormat]="FilterDateFormat"
                            [ItemModel]="BackupItems"
                            [ColumnName]="header.ColumnName" 
                            [DataType]="GetDataType(header, filterModel[header.ColumnName])"
                            (ApplyCallback)="ApplyFilter($event)"
                            [(ngModel)]="filterModel[header.ColumnName]"
                            style="float: left;" [Color]="'white'">
                        </rfilter> 

                        <div *cdkDragPreview class="preview">
                            {{header.HeaderText}}
                        </div>

                    </td>
                </ng-container>

                <ng-container *ngIf="ColumnsNotDefined">
                    <td style="cursor: pointer;min-width: 115px;min-height: 40px;"
                        [ngStyle]="{'width': EditModeEnabled ? '82px' : ''}" class="header headerbox" cdkDrag
                        (cdkDragStarted)="dragStartedForPopup($event)" [cdkDragData]="header"
                        (cdkDragStarted)="headerDragStart($event)" (cdkDragEnded)="headerDragEnd($event)"
                         *ngFor="let header of Headers">


                        <span style="float: left;">
                            {{header.HeaderText}}
                        </span>
                        
                        <span (click)="sortColumn(header)" *ngIf="!header.IsComputationColumn && header.sortType==-1" class="srt">&#8593;</span>
                        <span (click)="sortColumn(header)" *ngIf="!header.IsComputationColumn && header.sortType==1" class="srt">&#8595;</span>
                        <span (click)="sortColumn(header)" *ngIf="!header.IsComputationColumn && header.sortType==undefined" class="srt">&#8597;</span>                                            
                        
                        <rfilter style="float: left;" 
                            [DateFormat]="FilterDateFormat"
                            [ColumnName]="header.ColumnName" 
                            [DataType]="GetDataType(header, filterModel[header.ColumnName])"
                            [ItemModel]="BackupItems"
                            (ApplyCallback)="ApplyFilter($event)"
                            [(ngModel)]="filterModel[header.ColumnName]"
                            [Color]="'white'">
                        </rfilter> 

                        <div *cdkDragPreview class="preview">
                            {{header.HeaderText}}
                        </div>

                    </td>
                </ng-container>

                <td class="header" *ngIf="ShowEditUpdate"
                    [ngStyle]="{'width': (EditModeEnabled && !ColumnsNotDefined) ? '68px' : '68px'}">
                    Action
                </td>
            </tr>
        </thead>
        <tbody [ngStyle]="{ 'height': TableHeight, 'width': TableWidth }">

            <ng-container *ngIf="ShowItems && ShowItems.Rows && !IsGroupHaveColumns">
                <tr *ngFor="let item of ShowItems.Rows">
                    
                    <ng-container *ngIf="!ColumnsNotDefined">
                        <td *ngFor="let header of Headers" style="cursor: pointer;" 
                            [ngStyle]="{ 'width': EditModeEnabled ? header.EditModeWidth : header.EditModeWidth, 
                    'height': EditModeEnabled ? header.EditModeHeight : (item[header.PropToBind] != undefined) ? item[header.PropToBind].Height : ''}">

                            <ng-container *ngIf="item[header.PropToBind] && item[header.PropToBind].columnDirective">
                                <div>
                                    <ng-container
                                        *ngTemplateOutlet="item[header.PropToBind].IsEditMode ?  
                                        item[header.PropToBind].columnDirective.EditView  || em : 
                                        item[header.PropToBind].columnDirective.ReadView || em; 
                                    context:{$implicit: item[header.PropToBind].Item, CellInfo: item[header.PropToBind]}">
                                    </ng-container>
                                    <!-- <ng-content></ng-content> -->
                                    <ng-template #em>No Content</ng-template>
                                </div>
                            </ng-container>

                        </td>
                    </ng-container>

                    <ng-container *ngIf="ColumnsNotDefined">
                        <td *ngFor="let header of Headers" style="cursor: pointer;min-width: 60px;min-height: 40px;">

                            <ng-container *ngTemplateOutlet="item[header.PropToBind].IsEditMode ?  
                                    defaultEditView || em : 
                                    defaultReadView || em; 
                                context:{$implicit: item[header.PropToBind].Item, CellInfo: item[header.PropToBind]}">
                            </ng-container>
                            <!-- <ng-content></ng-content> -->
                            <ng-template #em>No Content</ng-template>
                        </td>
                    </ng-container>

                    <td *ngIf="ShowEditUpdate">
                        <div>
                            <a class="atagedit" *ngIf="item && !item[Headers[0].PropToBind].IsEditMode"
                                (click)="ShowEdit($event, item, false)">Edit</a>
                            <a class="atagedit" *ngIf="item && item[Headers[0].PropToBind].IsEditMode"
                                (click)="ShowEdit($event, item, true)">Close</a>
                        </div>
                    </td>
                </tr>

            </ng-container>

            <ng-container *ngIf="IsGroupHaveColumns && DisplayGroupItems">

                <ng-container *ngFor="let grpitem of DisplayGroupItems">
                    <tr style="border-bottom: 1px solid lightgray;">
                        <td colspan="2">
                            <span class="symbol" [ngClass]="{'symbol-down': grpitem.IsExpanded}"
                                [ngStyle]="{'--groupbyiconcolor': GroupByIconColor}"
                                (click)="expandGroup($event, grpitem)">
                            </span>
                            <span style="text-overflow: ellipsis;">{{getGroupHeaderAsString(grpitem)}}</span>
                        </td>
                    </tr>

                    <ng-container *ngIf="grpitem.IsExpanded">
                        <tr *ngFor="let item of grpitem.Values">

                            <ng-container *ngIf="!ColumnsNotDefined">
                                <td *ngFor="let header of Headers" style="cursor: pointer;"
                                    [ngStyle]="{ 'width': EditModeEnabled ? header.EditModeWidth : header.EditModeWidth, 
                                                 'height': EditModeEnabled ? header.EditModeHeight : (item[header.PropToBind]!=undefined) ? item[header.PropToBind].Height : ''}">

                                    <ng-container
                                        *ngIf="item[header.PropToBind] && item[header.PropToBind].columnDirective">
                                        <div>
                                            <ng-container
                                                *ngTemplateOutlet="item[header.PropToBind].IsEditMode ?  
                                                item[header.PropToBind].columnDirective.EditView  || em : 
                                                item[header.PropToBind].columnDirective.ReadView || em; 
                                            context:{$implicit: item[header.PropToBind].Item, CellInfo: item[header.PropToBind]}">
                                            </ng-container>
                                            <!-- <ng-content></ng-content> -->
                                            <ng-template #em>No Content</ng-template>
                                        </div>
                                    </ng-container>

                                </td>
                            </ng-container>

                            <ng-container *ngIf="ColumnsNotDefined">
                                <td *ngFor="let header of Headers"
                                    style="cursor: pointer;min-width: 60px;min-height: 40px;">

                                    <ng-container
                                        *ngTemplateOutlet="item[header.PropToBind].IsEditMode ?  
                                            defaultEditView || em : 
                                            defaultReadView || em; 
                                        context:{$implicit: item[header.PropToBind].Item, CellInfo: item[header.PropToBind]}">
                                    </ng-container>
                                    <!-- <ng-content></ng-content> -->
                                    <ng-template #em>No Content</ng-template>
                                </td>
                            </ng-container>

                            <td *ngIf="ShowEditUpdate">
                                <div>
                                    <a class="atagedit" *ngIf="item && !item[Headers[0].PropToBind].IsEditMode"
                                        (click)="ShowEdit($event, item, false)">Edit</a>
                                    <a class="atagedit" *ngIf="item && item[Headers[0].PropToBind].IsEditMode"
                                        (click)="ShowEdit($event, item, true)">Close</a>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </ng-container>

            </ng-container>
        </tbody>

        <tfoot>
            <tr>
                <td>
                    <div class="page">
                        <div style="display: block;font-size: small;color:grey">
                            <div class="pageItem" (click)="FirstPage()">&#171;</div>
                            <div class="pageItem" (click)="PreviousPage()">&#8249;</div>
                            <div class="pageItemDropdown">
                                <rdropdown [DropDownContentHeight]="'100px'" [Items]="PageItems"                                     
                                     [EnableFilterOption]="false"
                                    (change)="ItemsShownPerPage($event)" [(ngModel)]="ItemsPerPage">
                                </rdropdown>
                            </div>
                            <div class="pageItem" (click)="NextPage()">&#8250;</div>
                            <div class="pageItem" (click)="LastPage()">&#187;</div>
                            <div class="pageItemSmallFont">
                                <span>Current Page: {{currentPage}}</span>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tfoot>

    </table>

</div>

<ng-template #viewmode let-cell="CellInfo">
    <div style="text-overflow: ellipsis; overflow: hidden;" [ngStyle]="{'width': EditModeEnabled ? '115px' : '115px'}">{{cell.Value}}</div>
</ng-template>

<ng-template #editmode let-cell="CellInfo">
    <rtextbox [BottomLineColor]="HeaderBackgroundColor" [TextBoxWidth]="100.5" [EnableMarginTextBottom]="false" [TextBoxHeight]="12" [(ngModel)]="cell.Value">
    </rtextbox>
</ng-template>