.dropdownbtn {
    background-color: #dee0e2;
    color: rgb(193 193 193);
    padding: 4px;
    font-size: 10px;
    border: none;
    cursor: pointer;
    right: 2px;
    background: transparent;
    position: absolute;
    bottom: -3px;
  }
  
  input[type=text]{
    border:1px solid rgb(224, 218, 218); 
    padding: 5px;   
    outline: none;
    color: rgb(116 111 111);
    text-align: start;
  }

  input[type=text]:focus{
    border:1px solid rgb(224, 218, 218);    
  }

  .dropdownbtn:hover, .dropdownbtn:focus {
    background: transparent;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .dropdown-content {    
    position: absolute;
    background-color: #f1f1f1;
    overflow: auto;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  */
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    height: 100px;
    overflow-y: auto;
    z-index: 10;
    margin-top: 2px;
  }
  
:host {
  display: inline-block;
  vertical-align: top;
}

  .dropdown-content-template {
    color: black;
    /* padding: 10px 10px; */
    padding-top:5px;
    padding-bottom: 5px;
    padding-left: 1px;
    padding-right: 1px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    margin-top:3px;
    margin-bottom: 3px;
  }
  
  .dropdown-content-selected {
    background-color:  #e9e9e9;    
  }

  .show{
    display: block;
  }

  ::-webkit-scrollbar {
    width: 0.4em;;
    height: 0.4em;;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #bdbbbb;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #5e5e5e;
    border-radius: 10px;
  } 


.icon-up:before {
    content: "\276F";
}

.icon-down:before {
    content: "\276E";
}

.icon-up, .icon-down {
  font-size: 18px;
  display: inline-block;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.item{
  width: auto;
  padding: 6px;
  cursor: pointer;
  padding-left: 12px;
}

.item:hover {
  background-color:  #e9e9e9;  
}