.rswitch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 20px;
  }
  
.rswitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

  .sdr {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
    .sdr:before {
      position: absolute;
      content: "";
      height: 16px;
      width: 18px;
      left: 4px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
  
  input:checked + .sdr:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }
  
  .sdr.round {
    border-radius: 30px;
  }
  
  .sdr.round:before {
    border-radius: 50%;
  }
  
  :host {
    display: inline-block;
    vertical-align: top;
    width: fit-content;
    margin-top: 2px; 
    margin-bottom: 2px;    
    
  }

::-webkit-scrollbar {
  width: 0.4em;;
  height: 0.4em;;
}

::-webkit-scrollbar-track {
  background-color: #bdbbbb;
}

::-webkit-scrollbar-thumb {
  background-color: #5e5e5e;
  border-radius: 10px;
} 
