

<div [ngStyle]="{}" [ngStyle]="{ 'pointer-events': IsReadOnly ? 'none': '' }"
    class="sh" style="display: flex;flex-direction: row;">  

    <rtextbox [IsReadOnly]="IsReadOnly" [TextBoxHeight]="TextBoxHeight" [EnableMarginTextBottom]="false" 
        [BottomLineColor]="BottomLineColor" [LabelText]="''" 
        [LabelForeColor]="LabelTextForeColor" [TextBoxWidth]="TextBoxWidth"
        (keypress)="keyPress($event)"
        (paste)="onPaste($event)"
        [(ngModel)]="Value">
    </rtextbox>    

    <rbutton [ngStyle]="{ 'top':'-1px'}" 
                [ButtonHeight]="'20px'"
                [ButtonWidth]="'25px'"
                [BackgroundColor]="MinusBackgroundColor" 
                [ForeColor]="MinusForeColor" 
                (ButtonClick)="Dec()" 
                class="minus">&#9866;</rbutton>

    <rbutton [ngStyle]="{ 'top': '-1px'}" 
                [ButtonHeight]="'20px'"
                [ButtonWidth]="'25px'"
                [BackgroundColor]="PlusBackgroundColor" 
                [ForeColor]="PlusForeColor"
                (ButtonClick)="Inc()" 
                class="plus">&#10009;</rbutton>

</div>