

.spn {
    cursor: pointer;
    text-align: center;
    align-self: center;        
    position: relative;
}

.spn:focus {
    outline: none !important;
}

:host{
    display: flex;
    width: fit-content;
    margin-top:8px;
    margin-bottom: 8px;
}

.sh {     
    width: 180px;
    padding-top:6px;
    padding-bottom: 6px;
}

.minus {
    align-self:center;
    left: -65px;
    position: relative;
    top: 3px;
}

.plus {
    align-self:center;
    left: -62px;
    position: relative;
    top: 3px;
}


::-webkit-scrollbar {
    width: 0.4em;;
    height: 0.4em;;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #bdbbbb;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #5e5e5e;
    border-radius: 10px;
  } 
