
<div #startElement [id]="Id" class="dropdown rcolorpickerwindowclose" style="position: relative;">
<div [ngStyle]="{'color': LabelTextForeColor, 'font-size':FontSize,
            'box-shadow': EnableShadowEffect ? 'rgba(0, 0, 0, 0.24) 0px 3px 8px':''}"
        #openbtn class="mainContainer" (click)="toggle($event)">
    <div *ngIf="IsDisplayLabelText" style="padding: 3px;align-self:center;">{{LabelText}} </div>
    <div *ngIf="DisplayColorInHex && IsDisplayColorCode" style="padding: 3px;align-self:center;width: 60px;">
        {{DisplayColorHex}}
    </div>
    <div *ngIf="!DisplayColorInHex && IsDisplayColorCode" style="padding: 3px;align-self:center;width: 70px;">
        {{GetDisplayColorInNumbers}}
    </div>
    <div style="width: 50px; height: 20px;padding: 3px;align-self:center;"  
            *ngIf="DisplayColorRGB!=undefined"
        [ngStyle]="{'background-color':DisplayColorRGB}">
    </div>    
</div>

<div class="colorContainer" [hidden]="!IsColorPickerOpen" 
        [ngStyle]="{
            'width': DDEWidth, 'height': DDEHeight, 
            'top':DDETop, 'bottom': DDEBottom,
            'left': DDELeft, 'right': DDERight 
            }">

    <div>
        <canvas #variations width="250px" height="150px" class="variations"></canvas>
        <canvas #colors width="25px" height="150px" class="colors"></canvas>
    </div>

    <div style="width: 250px; height: 15px;" [ngStyle]="{'background-color':SelectedColorRgb, 'color': 'white'}">
    </div>

    <div>
        <div [ngStyle]="{'font-size':FontSize}">
            <div style="display: flex; margin-bottom: 5px;margin-left: 10px;">
                <div style="align-self: center;">R</div><div class="colorDiv border">{{SelectedColorR}}</div>
                <div style="align-self: center;">G</div><div class="colorDiv border">{{SelectedColorG}}</div>
                <div style="align-self: center;">B</div><div class="colorDiv border">{{SelectedColorB}}</div>
            </div>
            <div style="margin-top:5px">
                <span>Hex : </span><span>{{SelectedColorHex}}</span>
            </div>
        </div>
    </div>

</div>

</div>